Repository ethereum-optimism/optimistic-specs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes, @smartcontracts

l2os: Show bug with timestamps
  l2os/drivers/l2output/driver.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

L2OutputOracle: Fix off by one error
  l2os/bindings/l2oo/l2_output_oracle.go
  packages/contracts/.gas-snapshot
  packages/contracts/contracts/L1/L2OutputOracle.sol
  packages/contracts/contracts/test/L2OutputOracle.t.sol
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes, @maurelian, @karlfloersch, @smartcontracts

wip
  packages/contracts/contracts/L1/GasMetering.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

opnode: Fix TestL2OutputSubmitter Test
  opnode/rollup/driver/step.go
  opnode/test/system_test.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

fix lint
  opnode/test/system_test.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

contracts: slot packing libs
  packages/contracts/contracts/libraries/SlotPacking128x128.sol
  packages/contracts/contracts/libraries/SlotPacking128x64x64.sol
  packages/contracts/contracts/test/SlotPacking128x128.t.sol
  packages/contracts/contracts/test/SlotPacking128x64x64.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: gas metering
  packages/contracts/contracts/L1/GasMetering.sol
  packages/contracts/contracts/test/GasMetering.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: more metering work
  packages/contracts/contracts/L1/GasMetering.sol
  packages/contracts/contracts/L1/OptimismPortal.sol
  packages/contracts/contracts/test/GasMetering.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: slot packing libs
  packages/contracts/contracts/libraries/SlotPacking128x128.sol
  packages/contracts/contracts/libraries/SlotPacking128x64x64.sol
  packages/contracts/contracts/test/SlotPacking128x128.t.sol
  packages/contracts/contracts/test/SlotPacking128x64x64.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: gas metering
  packages/contracts/contracts/L1/GasMetering.sol
  packages/contracts/contracts/test/GasMetering.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: more metering work
  packages/contracts/contracts/L1/GasMetering.sol
  packages/contracts/contracts/L1/OptimismPortal.sol
  packages/contracts/contracts/test/GasMetering.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: lint
  packages/contracts/contracts/L1/GasMetering.sol
  packages/contracts/contracts/libraries/SlotPacking128x128.sol
  packages/contracts/contracts/libraries/SlotPacking128x64x64.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: clean up lib
  packages/contracts/contracts/libraries/SlotPacking128x128.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

Fix SRI on stateviz
  opnode/cmd/stateviz/assets/index.html
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

opnode: Withdrawal E2E test in go
  go.mod
  go.sum
  opnode/contracts/Makefile
  opnode/contracts/withdrawer/withdrawer_deployed.go
  opnode/contracts/withdrawer/withdrawer_raw.go
  opnode/test/geth.go
  opnode/test/setup.go
  opnode/test/system_test.go
  opnode/withdrawals/proof.go
  opnode/withdrawals/utils.go
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

Rely on pre-deploy package
  opnode/withdrawals/utils.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

opnode/test: Remove dead code
  opnode/test/system_test.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

wip
  packages/contracts/contracts/L1/GasMetering.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: L2xDomainMessenger API compat
  packages/contracts/contracts/L2/L2CrossDomainMessenger.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

specs: add predeploys
  specs/glossary.md
  specs/predeploys.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

lint: fix
  specs/predeploys.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

lint: more fixes
  specs/predeploys.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

fix: nit
  specs/predeploys.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

contracts: gas-snapshot
  packages/contracts/.gas-snapshot
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

specs: deposits pay gas on L1
  specs/deposits.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

Remove replace statements from go.mod files
  op-batcher/go.mod
  op-e2e/go.mod
  op-node/go.mod
  op-proposer/go.mod
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

contracts: saturated math lib
  packages/contracts/contracts/L1/GasMetering.sol
  packages/contracts/contracts/libraries/SaturatedMath.sol
  packages/contracts/contracts/test/SaturatedMath.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: fixes
  packages/contracts/contracts/L1/GasMetering.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

opnode/p2p,specs/p2p: discover+connect background process
  op-node/node/node.go
  op-node/p2p/config.go
  op-node/p2p/discovery.go
  op-node/p2p/node.go
  op-node/p2p/prepared.go
  op-node/p2p/rpc_server.go
  specs/rollup-node-p2p.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

opnode/flags: simplify p2p useragent flag
  op-node/flags/p2p_flags.go
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

opnode/p2p: peer discovery background process
  op-node/node/node.go
  op-node/p2p/config.go
  op-node/p2p/discovery.go
  op-node/p2p/host_test.go
  op-node/p2p/node.go
  op-node/p2p/prepared.go
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

p2p: review cleanup - define consts for numbers, fix imports
  op-node/p2p/discovery.go
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

contracts: add `GasPriceOracle` contract
  packages/contracts/.gas-snapshot
  packages/contracts/contracts/L2/GasPriceOracle.sol
  packages/contracts/contracts/test/GasPriceOracle.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

op-bindings: separate bindings into new module to resolve dependency problems
  .github/workflows/go-ci.yml
  go.work
  go.work.sum
  op-batcher/go.mod
  op-batcher/go.sum
  op-bindings/Makefile
  op-bindings/deposit/deposit_feed_raw.go
  op-bindings/deposit/optimism_portal_deployed.go
  op-bindings/doc.go
  op-bindings/go.mod
  op-bindings/go.sum
  op-bindings/l1block/l1_block_info_deployed.go
  op-bindings/l1block/l1_block_info_raw.go
  op-bindings/l2oo/l2_output_oracle.go
  op-bindings/withdrawer/withdrawer_deployed.go
  op-bindings/withdrawer/withdrawer_raw.go
  op-e2e/go.mod
  op-e2e/go.sum
  op-e2e/setup.go
  op-e2e/system_test.go
  op-node/go.mod
  op-node/go.sum
  op-node/rollup/derive/fuzz_parsers_test.go
  op-node/withdrawals/utils.go
  op-proposer/Makefile
  op-proposer/drivers/l2output/driver.go
  op-proposer/go.mod
  ops-bedrock/Dockerfile.l1
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

ops-bedrock: include bindings in build
  ops-bedrock/Dockerfile.batcher
  ops-bedrock/Dockerfile.node
  ops-bedrock/Dockerfile.proposer
  ops-bedrock/Dockerfile.stateviz
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

specs: Updates
  specs/guaranteed-gas-market.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

Update
  specs/guaranteed-gas-market.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

lint
  specs/guaranteed-gas-market.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

Clarify L1 -> L2 gas conversion
  specs/guaranteed-gas-market.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

fix exponentiation spec
  specs/guaranteed-gas-market.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                    @protolambda @norswap @trianglesphere @maurelian @karlfloersch @ben-chain @cfromknecht @mslipper @tynes
/l2os/               @protolambda @norswap @trianglesphere @cfromknecht @mslipper @tynes
/opnode/             @protolambda @norswap @trianglesphere @cfromknecht @mslipper @tynes
/packages/contracts/ @protolambda @norswap @maurelian @karlfloersch @smartcontracts
