Repository ethereum-optimism/optimistic-specs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper, @cfromknecht

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                    @protolambda @norswap @trianglesphere @maurelian @mslipper
/specs/              @protolambda @norswap @maurelian 
/l2os/               @protolambda @trianglesphere @cfromknecht @mslipper
/opnode/             @protolambda @trianglesphere @mslipper
/packages/contracts/ @protolambda @norswap @maurelian

itest: Bump withdrawal timeout to +5 minutes
  packages/integration-tests/test/000_withdrawals.spec.ts
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

itest: Extract logic into getTargetOutput
  packages/integration-tests/test/000_withdrawals.spec.ts
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

fix dead anchor link
  specs/deposits.md
Owners: @protolambda, @norswap, @maurelian

higher difficulty rather than number
  opnode/rollup/sync/start.go
Owners: @protolambda, @trianglesphere, @mslipper

'L1 attributes block' is not a thing + add link
  specs/rollup-node.md
Owners: @protolambda, @norswap, @maurelian

ci: Add automated docker builds for opnode and l2 output submitter
  .circleci/config.yml
  ops/Dockerfile.l2os
  ops/Dockerfile.opnode
  ops/docker-compose.yml
  ops/l2os-entrypoint.sh
  ops/opnode-entrypoint.sh
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

contracts: Add deleteL2Output function
  packages/contracts/contracts/L1/L2OutputOracle.sol
  packages/contracts/contracts/test/L2OutputOracle.t.sol
Owners: @protolambda, @norswap, @maurelian

contracts: Fix reentrancy attack in WithdrawalsRelay
  packages/contracts/.gas-snapshot
  packages/contracts/contracts/L1/abstracts/WithdrawalsRelay.sol
Owners: @protolambda, @norswap, @maurelian

fix typo
  specs/introduction.md
Owners: @protolambda, @norswap, @maurelian

Bump timeout
  packages/integration-tests/test/000_withdrawals.spec.ts
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

Bump again
  packages/integration-tests/test/000_withdrawals.spec.ts
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

Add gas snap
  packages/contracts/.gas-snapshot
Owners: @protolambda, @norswap, @maurelian

Update 000_withdrawals.spec.ts
  packages/integration-tests/test/000_withdrawals.spec.ts
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

try to align sentences with lines
  specs/rollup-node.md
Owners: @protolambda, @norswap, @maurelian

contracts: reuse the library to compute withdrawal hash
  packages/contracts/contracts/L1/abstracts/WithdrawalsRelay.sol
  packages/contracts/contracts/L2/Withdrawer.sol
  packages/contracts/contracts/libraries/Lib_WithdrawalVerifier.sol
  packages/contracts/contracts/test/WithdrawalsRelay.t.sol
Owners: @protolambda, @norswap, @maurelian

contracts: gas snapshot
  packages/contracts/.gas-snapshot
Owners: @protolambda, @norswap, @maurelian

ci: Update Docker version in CircleCi
  .circleci/config.yml
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

opnode: Better parsing of the TransactionDepositedEvent
  opnode/rollup/derive/payload_attributes.go
Owners: @protolambda, @trianglesphere, @mslipper

Change deposit gasLimit from uint256 to uint64
  opnode/contracts/deposit/deposit_feed_raw.go
  opnode/rollup/derive/payload_attributes.go
  opnode/test/system_test.go
  packages/contracts/.gas-snapshot
  packages/contracts/contracts/L1/abstracts/DepositFeed.sol
  packages/contracts/contracts/test/DepositFeed.t.sol
  packages/contracts/contracts/test/OptimismPortal.t.sol
  packages/integration-tests/contracts/MultiDepositor.sol
Owners: @protolambda, @trianglesphere, @mslipper, @norswap, @maurelian

chore: copy L1 and L2 Messengers from Monorepo
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
  packages/contracts/contracts/L2/messaging/L2CrossDomainMessenger.sol
Owners: @protolambda, @norswap, @maurelian

chore: Add OZ upgradable contracts
  .gitmodules
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
  packages/contracts/contracts/L2/messaging/L2CrossDomainMessenger.sol
  packages/contracts/package.json
  packages/contracts/yarn.lock
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

test: Add Messenger test files
  packages/contracts/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts/contracts/test/L2CrossDomainMessenger.t.sol
Owners: @protolambda, @norswap, @maurelian

chore: Remove unused files
  packages/contracts/contracts/test/TestLib_SecureMerkleTrie.sol
  packages/contracts/test/withdrawer.spec.ts
Owners: @protolambda, @norswap, @maurelian

refactor: Remove Address Manager and Resolver
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
Owners: @protolambda, @norswap, @maurelian

chore: Importe OZ and OP contracts as node_modules
  packages/contracts/contracts/L1/L2OutputOracle.sol
  packages/contracts/contracts/L1/abstracts/DepositFeed.sol
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
  packages/contracts/contracts/L2/Withdrawer.sol
  packages/contracts/contracts/L2/messaging/L2CrossDomainMessenger.sol
  packages/contracts/contracts/libraries/Lib_WithdrawalVerifier.sol
  packages/contracts/contracts/test/DepositFeed.t.sol
  packages/contracts/contracts/test/TestLib_SecureMerkleTrie.sol
  packages/contracts/contracts/test/Withdrawer.t.sol
  packages/contracts/foundry.toml
  packages/contracts/package.json
  packages/contracts/yarn.lock
Owners: @protolambda, @norswap, @maurelian

refactor: Remove replayMessage()
  packages/contracts/contracts/L1/messaging/IL1CrossDomainMessenger.sol
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
Owners: @protolambda, @norswap, @maurelian

refactor: Replace CTC with OptimismPortal
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
Owners: @protolambda, @norswap, @maurelian

forge install: ds-test
  .gitmodules
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

refactor: Move boilerplate test code into CommonTest
  packages/contracts/contracts/test/CommonTest.sol
  packages/contracts/contracts/test/DepositFeed.t.sol
  packages/contracts/contracts/test/L2OutputOracle.t.sol
  packages/contracts/contracts/test/OptimismPortal.t.sol
  packages/contracts/contracts/test/WithdrawalsRelay.t.sol
Owners: @protolambda, @norswap, @maurelian

test: Add sendMessage and pause tests for L1xDM
  packages/contracts/contracts/test/L1CrossDomainMessenger.t.sol
Owners: @protolambda, @norswap, @maurelian

refactor: Remove SCC
  packages/contracts/contracts/L1/messaging/IL1CrossDomainMessenger.sol
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
Owners: @protolambda, @norswap, @maurelian

test: L1CrossDomainMessenger sendMessage and pause
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
  packages/contracts/contracts/test/L1CrossDomainMessenger.t.sol
Owners: @protolambda, @norswap, @maurelian

chore: Make functions external, and reorder for CEI
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
  packages/contracts/contracts/L2/messaging/L2CrossDomainMessenger.sol
Owners: @protolambda, @norswap, @maurelian

refactor: Reorganize ts helpers
  packages/contracts/helpers/constants.ts
  packages/contracts/helpers/index.ts
  packages/contracts/helpers/utils.ts
Owners: @protolambda, @norswap, @maurelian

refactor: replace L2ToL1MessagePasser with Withdrawer contract
  packages/contracts/contracts/L2/messaging/L2CrossDomainMessenger.sol
  packages/contracts/contracts/libraries/Lib_BedrockPredeployAddresses.sol
Owners: @protolambda, @norswap, @maurelian

test: Add mock proof generation script and helpers
  packages/contracts/contracts/test/WithdrawalsRelay.t.sol
  packages/contracts/helpers/generateProofs.ts
  packages/contracts/helpers/index.ts
  packages/contracts/helpers/trie-test-generator.ts
  packages/contracts/package.json
  packages/contracts/scripts/makeProof.ts
  packages/contracts/yarn.lock
Owners: @protolambda, @norswap, @maurelian

test: Add L1xDM relayMessageSucceeds tests
  packages/contracts/contracts/test/L1CrossDomainMessenger.t.sol
Owners: @protolambda, @norswap, @maurelian

test: Add proof generation scripts and helpers
  packages/contracts/helpers/generateProofs.ts
  packages/contracts/scripts/ffiMakeProof.ts
  packages/contracts/scripts/makeProof.ts
Owners: @protolambda, @norswap, @maurelian

refactor: Add l2Sender check in L2xDM
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
  packages/contracts/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts/contracts/test/WithdrawalsRelay.t.sol
Owners: @protolambda, @norswap, @maurelian

refactor: Copy in the L1 and L2 standard bridge
  packages/contracts/contracts/L1/messaging/L1StandardBridge.sol
  packages/contracts/contracts/L2/messaging/L2StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian
