Repository ethereum-optimism/optimistic-specs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes, @smartcontracts

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                    @protolambda @norswap @trianglesphere @maurelian @karlfloersch @ben-chain @cfromknecht @mslipper @tynes
/l2os/               @protolambda @norswap @trianglesphere @cfromknecht @mslipper @tynes
/opnode/             @protolambda @norswap @trianglesphere @cfromknecht @mslipper @tynes
/packages/contracts/ @protolambda @norswap @maurelian @karlfloersch @smartcontracts

update start.go description
  opnode/rollup/sync/start.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

rollup files
  opnode/rollup/derive/batch.go
  opnode/rollup/derive/batch_test.go
  opnode/rollup/derive/doc.go
  opnode/rollup/derive/invert.go
  opnode/rollup/derive/invert_test.go
  opnode/rollup/derive/payload_attributes.go
  opnode/rollup/derive/payload_attributes_test.go
  opnode/rollup/driver/driver.go
  opnode/rollup/driver/fake_chain.go
  opnode/rollup/driver/state.go
  opnode/rollup/driver/state_test.go
  opnode/rollup/driver/step.go
  opnode/rollup/sync/start.go
  opnode/rollup/sync/start_test.go
  opnode/rollup/types.go
  opnode/rollup/types_test.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

feat: js deposit tx
  packages/contracts/helpers/index.ts
  packages/contracts/package.json
  packages/contracts/tasks/deposits.ts
  packages/contracts/test/helpers.spec.ts
  packages/contracts/yarn.lock
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

rollup: new deposit hashing
  package.json
  packages/contracts/helpers/index.ts
  packages/contracts/tasks/deposits.ts
  packages/contracts/test/helpers.spec.ts
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes, @smartcontracts

improve comments and code structure
  opnode/rollup/sync/start.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

init: integration tests
  .github/workflows/devnet-ci.yml
  .gitignore
  Makefile
  README.md
  ops/genesis-l1.json
  ops/genesis-l2.json
  packages/integration-tests/.gitignore
  packages/integration-tests/contracts/Counter.sol
  packages/integration-tests/contracts/ERC20.sol
  packages/integration-tests/contracts/MultiDepositor.sol
  packages/integration-tests/contracts/Reverter.sol
  packages/integration-tests/package.json
  packages/integration-tests/test/deposit.spec.ts
  packages/integration-tests/test/rpc.spec.ts
  packages/integration-tests/test/shared/constants.ts
  packages/integration-tests/test/shared/env.ts
  packages/integration-tests/test/shared/setup.ts
  packages/integration-tests/test/shared/utils.ts
  packages/integration-tests/tsconfig.json
  packages/integration-tests/yarn.lock
  tsconfig.json
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

fix bug (L1 origin head with non-canonical ancestors)
  opnode/rollup/sync/start.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

opnode: Deduplicate fake chain source
  opnode/internal/testutils/fake_chain.go
  opnode/rollup/driver/state_test.go
  opnode/rollup/sync/start_test.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

opnode: Dedicated wait functions
  opnode/test/system_test.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

opnode: New e2e test system
  opnode/test/geth.go
  opnode/test/setup.go
  opnode/test/system_test.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

opnode: Silence FindSyncStartTest
  opnode/rollup/sync/start_test.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

opnode: Add test for missing batches
  opnode/test/system_test.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

opnode: Pull out system config to default cfg
  opnode/test/system_test.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

nice api!
  ops/Dockerfile.l2
  packages/contracts/helpers/index.ts
  packages/contracts/tasks/deposits.ts
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes, @smartcontracts

fix: dockerfile
  ops/Dockerfile.l2
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

opnode: Fix possible panic in sequencer batch creation
  opnode/rollup/driver/step.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

opnode: Address PR comments
  opnode/test/system_test.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

opnode: Reduce flakiness in missing batch test
  opnode/test/system_test.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

opnode: Shutdown rollup nodes before clients/geth nodes
  opnode/node/node.go
  opnode/test/setup.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

l2os: Change shutdown procedure
  l2os/service.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

opnode: Properly wait for limit client to shut down
  opnode/l1/request_sema.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

opnode: Properly shut everything down
  opnode/rollup/driver/state.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

devnet: Hardcode deposit feed bytecode
  Makefile
  packages/contracts/tasks/deposits.ts
  packages/integration-tests/test/deposit.spec.ts
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes, @smartcontracts

style: clean up and comments for state.go
  opnode/rollup/driver/state.go
  opnode/rollup/driver/step.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

Add MultiDepositor contract
  opnode/contracts/Makefile
  opnode/contracts/abis/MultiDepositor.json
  opnode/contracts/multidepositor/mulit_depositor_deployed.go
  opnode/contracts/multidepositor/multi_depositor_raw.go
  packages/contracts/contracts/L2/MultiDeposit.sol
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes, @maurelian, @karlfloersch, @smartcontracts

opnode: Add multideposit e2e test
  opnode/contracts/abis/MultiDepositor.json
  opnode/contracts/multidepositor/mulit_depositor_deployed.go
  opnode/contracts/multidepositor/multi_depositor_raw.go
  opnode/test/system_test.go
  packages/contracts/contracts/L2/MultiDeposit.sol
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes, @maurelian, @karlfloersch, @smartcontracts

opnode: Parameterize deposit contract address
  opnode/rollup/derive/invert_test.go
  opnode/rollup/derive/payload_attributes.go
  opnode/rollup/derive/payload_attributes_test.go
  opnode/rollup/driver/step.go
  opnode/rollup/types.go
  opnode/test/system_test.go
  ops/rollup.json
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes, @maurelian, @karlfloersch, @ben-chain

specs: Readability improvements to rollup-node
  specs/deposits.md
  specs/glossary.md
  specs/rollup-node.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

fix(ci): use Foundry GHA
  .github/workflows/devnet-ci.yml
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

opnode: Update and deploy contracts
  l2os/bindings/l2oo/l2_output_oracle.go
  opnode/contracts/Makefile
  opnode/contracts/abis/DepositFeed.json
  opnode/contracts/abis/L1Block.json
  opnode/contracts/deposit/deposit_feed_deployed.go
  opnode/contracts/deposit/deposit_feed_raw.go
  opnode/contracts/doc.go
  opnode/contracts/l1block/l1_block_info_deployed.go
  opnode/contracts/l1block/l1_block_info_raw.go
  opnode/test/geth.go
  opnode/test/setup.go
  opnode/test/system_test.go
  packages/contracts/contracts/L1/L2OutputOracle.sol
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes, @maurelian, @karlfloersch, @smartcontracts

specs: Update output root derivation
  specs/glossary.md
  specs/proposals.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

specs: Separate version from payload
  specs/proposals.md
  specs/withdrawals.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

contracts: Ensure submission interval is multiple of block time
  packages/contracts/contracts/L1/L2OutputOracle.sol
  packages/contracts/deploy/000-L2OutputOracle.deploy.ts
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: Use correct uppercase for immutables
  packages/contracts/contracts/L1/L2OutputOracle.sol
  packages/contracts/contracts/L1/abstracts/WithdrawalsRelay.sol
  packages/contracts/contracts/test/L2OutputOracle.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

itest: Simplify withdrawals spec
  packages/integration-tests/test/000_withdrawals.spec.ts
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

style: add comments and cleanup to state.go
  opnode/rollup/driver/state.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

itest: shorten submission interval for faster devnet tests
  packages/contracts/deploy/000-L2OutputOracle.deploy.ts
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: Ensure submission interval is multiple of block time
  packages/contracts/contracts/L1/L2OutputOracle.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

itest: Increase withdrawal finalization timeout
  packages/integration-tests/test/000_withdrawals.spec.ts
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

itest: Simplify withdrawals spec
  packages/integration-tests/test/000_withdrawals.spec.ts
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes
