Repository ethereum-optimism/optimistic-specs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper, @cfromknecht

lint
  packages/contracts/contracts/L2/messaging/L2StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian

contracts: remove dead comment
  packages/contracts/contracts/L2/messaging/L2StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian

specs: Add deposit gas metering spec
  specs/deposit_gas_metering.md
Owners: @protolambda, @norswap, @maurelian

specs: Add missing store to pseudocode
  specs/deposit_gas_metering.md
Owners: @protolambda, @norswap, @maurelian

l2os: Show bug with timestamps
  l2os/drivers/l2output/driver.go
  opnode/rollup/driver/step.go
  opnode/test/setup.go
  opnode/test/system_test.go
Owners: @protolambda, @trianglesphere, @cfromknecht, @mslipper

WIP: Remove addition. NOTE: Doesn't seem to work
  opnode/contracts/deposit/deposit_feed_raw.go
  opnode/contracts/l1block/l1_block_info_deployed.go
  opnode/contracts/l1block/l1_block_info_raw.go
  packages/contracts/contracts/L1/L2OutputOracle.sol
Owners: @protolambda, @trianglesphere, @mslipper, @norswap, @maurelian

l2os: Fix L2 Output Oracle contract
  l2os/bindings/l2oo/l2_output_oracle.go
Owners: @protolambda, @trianglesphere, @cfromknecht, @mslipper

ci: install abigen
  .github/workflows/go-ci.yml
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

ci: fix geth install
  .github/workflows/go-ci.yml
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

ci: build bindings in ci
  .github/workflows/go-ci.yml
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

bindings: Regenerate
  l2os/bindings/l2oo/l2_output_oracle.go
  opnode/contracts/deposit/deposit_feed_raw.go
  opnode/contracts/l1block/l1_block_info_deployed.go
  opnode/contracts/l1block/l1_block_info_raw.go
Owners: @protolambda, @trianglesphere, @cfromknecht, @mslipper

bindings: regenerate
  opnode/contracts/deposit/deposit_feed_raw.go
  opnode/contracts/l1block/l1_block_info_deployed.go
  opnode/contracts/l1block/l1_block_info_raw.go
Owners: @protolambda, @trianglesphere, @mslipper

contracts: no metadata hash in contracts
  packages/contracts/foundry.toml
Owners: @protolambda, @norswap, @maurelian

bindings: regenerate
  l2os/bindings/l2oo/l2_output_oracle.go
  opnode/contracts/deposit/deposit_feed_raw.go
  opnode/contracts/l1block/l1_block_info_deployed.go
  opnode/contracts/l1block/l1_block_info_raw.go
Owners: @protolambda, @trianglesphere, @cfromknecht, @mslipper

feat: wip gas metering
  packages/contracts/contracts/L1/abstracts/DepositFeed.sol
  packages/contracts/contracts/L1/abstracts/GasMetering.sol
Owners: @protolambda, @norswap, @maurelian

Update deposit_gas_metering.md
  specs/deposit_gas_metering.md
Owners: @protolambda, @norswap, @maurelian

fix: comments
  packages/contracts/contracts/L2/messaging/L2StandardBridge.sol
  packages/contracts/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts/contracts/test/L1StandardBridge.t.sol
Owners: @protolambda, @norswap, @maurelian

tests: fix
  packages/contracts/contracts/L2/messaging/L2StandardBridge.sol
  packages/contracts/contracts/test/L2StandardBridge.t.sol
Owners: @protolambda, @norswap, @maurelian

bugfix: L1StandardBridge finalizeETHWithdrawal payable
  packages/contracts/contracts/L1/messaging/IL1ERC20Bridge.sol
  packages/contracts/contracts/L1/messaging/IL1StandardBridge.sol
  packages/contracts/contracts/L1/messaging/L1StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian

contracts: clean up common test
  packages/contracts/contracts/test/CommonTest.t.sol
Owners: @protolambda, @norswap, @maurelian

contracts: test L1StandardBridge
  packages/contracts/contracts/test/L1StandardBridge.t.sol
Owners: @protolambda, @norswap, @maurelian

lint: fix
  packages/contracts/contracts/L1/messaging/L1StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian

contracts: update snapshot
  packages/contracts/.gas-snapshot
Owners: @protolambda, @norswap, @maurelian

tests: L1 and L2 bridges
  packages/contracts/contracts/test/L1StandardBridge.t.sol
  packages/contracts/contracts/test/L2StandardBridge.t.sol
Owners: @protolambda, @norswap, @maurelian

lint
  packages/contracts/contracts/L2/messaging/IL2StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian

contracts: L2 standard bridge works with ETH
  packages/contracts/contracts/L2/messaging/IL2ERC20Bridge.sol
  packages/contracts/contracts/L2/messaging/L2StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian

lint
  packages/contracts/contracts/L2/messaging/L2StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian

contracts: deposit ETH through the bridge
  packages/contracts/contracts/L1/messaging/L1StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian

contracts: clean up comment
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
Owners: @protolambda, @norswap, @maurelian

temp: l2standardbridge
  packages/contracts/contracts/L2/messaging/IL2StandardBridge.sol
  packages/contracts/contracts/L2/messaging/L2StandardBridge.sol
  packages/contracts/contracts/test/CommonTest.t.sol
  packages/contracts/contracts/test/L1StandardBridge.t.sol
  packages/contracts/contracts/test/L2OutputOracle.t.sol
  packages/contracts/contracts/test/L2StandardBridge.t.sol
Owners: @protolambda, @norswap, @maurelian

contracts: gas snapshot
  packages/contracts/.gas-snapshot
Owners: @protolambda, @norswap, @maurelian

tests: fix
  packages/contracts/contracts/L2/messaging/L2StandardBridge.sol
  packages/contracts/contracts/test/L2StandardBridge.t.sol
Owners: @protolambda, @norswap, @maurelian

lint
  packages/contracts/contracts/L2/messaging/L2StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian

fix: comments
  packages/contracts/contracts/L2/messaging/L2StandardBridge.sol
  packages/contracts/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts/contracts/test/L1StandardBridge.t.sol
Owners: @protolambda, @norswap, @maurelian

contracts: remove dead comment
  packages/contracts/contracts/L2/messaging/L2StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian

Update deposit_gas_metering.md
  specs/deposit_gas_metering.md
Owners: @protolambda, @norswap, @maurelian

opnode: Add OptimismPortal deployed bytecode
  opnode/contracts/Makefile
  opnode/contracts/deposit/optimism_portal_deployed.go
Owners: @protolambda, @trianglesphere, @mslipper

opnode: Add differential fuzzing test for deposit events
  go.mod
  go.sum
  opnode/rollup/derive/fuzz_parsers_test.go
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

build: Add fuzz target
  .github/workflows/go-ci.yml
  opnode/Makefile
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

opnode: Fix ineffctual error assignment
  opnode/rollup/derive/fuzz_parsers_test.go
Owners: @protolambda, @trianglesphere, @mslipper

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                    @protolambda @norswap @trianglesphere @maurelian @mslipper
/specs/              @protolambda @norswap @maurelian 
/l2os/               @protolambda @trianglesphere @cfromknecht @mslipper
/opnode/             @protolambda @trianglesphere @mslipper
/packages/contracts/ @protolambda @norswap @maurelian
