Repository ethereum-optimism/optimistic-specs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper, @cfromknecht

opnode: Address PR comments
  opnode/rollup/driver/state.go
  opnode/rollup/sync/start.go
  opnode/test/setup.go
  specs/rollup-node.md
Owners: @protolambda, @trianglesphere, @mslipper, @norswap, @maurelian

Update opnode/test/setup.go
  opnode/test/setup.go
Owners: @protolambda, @trianglesphere, @mslipper

opnode: Fix specs line length for lint
  specs/rollup-node.md
Owners: @protolambda, @norswap, @maurelian

opnode: Switch to uint64 in FindL2Heads function
  opnode/rollup/driver/state.go
  opnode/rollup/sync/start.go
  opnode/rollup/sync/start_test.go
Owners: @protolambda, @trianglesphere, @mslipper

opnode: Properly initialize state loop
  opnode/rollup/driver/state.go
Owners: @protolambda, @trianglesphere, @mslipper

opnode: Rename output functions
  opnode/rollup/driver/driver.go
  opnode/rollup/driver/state.go
  opnode/rollup/driver/state_test.go
  opnode/rollup/driver/step.go
Owners: @protolambda, @trianglesphere, @mslipper

opnode: Add sanity check to L1 window in insertEpoch
  opnode/l1/types.go
  opnode/rollup/derive/payload_attributes.go
  opnode/rollup/driver/step.go
Owners: @protolambda, @trianglesphere, @mslipper

opnode: Split out loop
  opnode/rollup/driver/state.go
Owners: @protolambda, @trianglesphere, @mslipper

opnode: Bump op-geth version
  go.mod
  go.sum
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

opnode: Better name for batch prepare functions
  opnode/rollup/derive/payload_attributes.go
  opnode/rollup/driver/step.go
Owners: @protolambda, @trianglesphere, @mslipper

opnode: Mute driver test
  opnode/rollup/driver/state_test.go
Owners: @protolambda, @trianglesphere, @mslipper

opnode: Don't incorrectly advance safehead
  opnode/rollup/driver/state.go
Owners: @protolambda, @trianglesphere, @mslipper

opnode: Set L2 Geth forkchoice on reorg
  opnode/rollup/driver/driver.go
  opnode/rollup/driver/fake_chain.go
  opnode/rollup/driver/state.go
  opnode/rollup/driver/state_test.go
Owners: @protolambda, @trianglesphere, @mslipper

opnode: Verify epochs as sequencer
  opnode/rollup/driver/driver.go
  opnode/rollup/driver/state.go
  opnode/rollup/driver/step.go
Owners: @protolambda, @trianglesphere, @mslipper

opnode: Don't rebuild L1 Genesis Block ID
  opnode/rollup/driver/state.go
Owners: @protolambda, @trianglesphere, @mslipper

opnode: Don't cast slice
  opnode/rollup/driver/state.go
Owners: @protolambda, @trianglesphere, @mslipper

opnode: More comments
  opnode/rollup/driver/state.go
Owners: @protolambda, @trianglesphere, @mslipper

opnode: PR comments
  opnode/rollup/driver/state.go
Owners: @protolambda, @trianglesphere, @mslipper

opnode: Better error reason in attributesMatch
  opnode/rollup/driver/step.go
Owners: @protolambda, @trianglesphere, @mslipper

specs: Add overview page
  specs/assets/components.svg
  specs/assets/derivation-1.svg
  specs/assets/derivation-2.svg
  specs/assets/derivation-3.svg
  specs/assets/engine.svg
  specs/assets/network-participants-overview.svg
  specs/assets/propagation.svg
  specs/assets/sequencer-block-gen.svg
  specs/assets/sequencer-handling-deposits-and-transactions.svg
  specs/assets/user-withdrawing-to-l1.svg
  specs/assets/verifier-executing-fraud-proof.svg
  specs/introduction.md
  specs/overview.md
Owners: @protolambda, @norswap, @maurelian

opnode: Don't start sequencing blocks until past the L1 genesis
  opnode/rollup/driver/state.go
Owners: @protolambda, @trianglesphere, @mslipper

readme: fix typos and break lines
  README.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

Update ref optimistic geth image
  ops/Dockerfile.l2
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

ci: Improve timestamp management in devnet
  Makefile
  ops/Dockerfile.l1
  ops/Dockerfile.l2
  ops/docker-compose.yml
  ops/genesis-l1.json
  ops/genesis-l2.json
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

README: remove alpha branch + update description
  README.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

init: integration tests
  .gitignore
  integration-tests/contracts/ConstructorReverter.sol
  integration-tests/contracts/ERC20.sol
  integration-tests/contracts/FakeL2StandardERC20.sol
  integration-tests/contracts/Multicall.sol
  integration-tests/contracts/Precompiles.sol
  integration-tests/contracts/Proxy.sol
  integration-tests/contracts/Reverter.sol
  integration-tests/contracts/SelfDestruction.sol
  integration-tests/contracts/SimpleStorage.sol
  integration-tests/contracts/StateDOS.sol
  integration-tests/contracts/TestOOG.sol
  integration-tests/contracts/ValueCalls.sol
  integration-tests/hardhat.config.ts
  integration-tests/package.json
  integration-tests/test/rpc.spec.ts
  integration-tests/test/shared/env.ts
  integration-tests/test/shared/setup.ts
  integration-tests/test/shared/utils.ts
  integration-tests/tsconfig.json
  integration-tests/yarn.lock
  tsconfig.json
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

allow building everything from top-level makefile
  Makefile
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

allow testing from top level makefile
  Makefile
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

test: add basic deposit test
  integration-tests/test/deposit.spec.ts
  integration-tests/test/shared/utils.ts
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

feat: expose debug http api
  ops/entrypoint.sh
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

fix: replace fraud with fault
  specs/assets/network-participants-overview.svg
  specs/assets/sequencer-handling-deposits-and-transactions.svg
  specs/assets/verifier-executing-fraud-proof.svg
  specs/introduction.md
  specs/overview.md
Owners: @protolambda, @norswap, @maurelian

fix: oe => optimism
  specs/introduction.md
Owners: @protolambda, @norswap, @maurelian

opnode: fix setL1BlockValues selector used for deposits
  opnode/rollup/derive/payload_attributes.go
Owners: @protolambda, @trianglesphere, @mslipper

opnode: use correct l1 info predeploy addr
  opnode/rollup/derive/payload_attributes.go
Owners: @protolambda, @trianglesphere, @mslipper

opnode: use correct l1 info predeploy addr
  opnode/rollup/derive/payload_attributes.go
  opnode/test/system_test.go
Owners: @protolambda, @trianglesphere, @mslipper

opnode: Fix bug in block creation
  opnode/rollup/driver/step.go
Owners: @protolambda, @trianglesphere, @mslipper

opnode: Don't allow arbitrary mints
  opnode/rollup/derive/payload_attributes.go
  opnode/rollup/derive/payload_attributes_test.go
  opnode/test/system_test.go
Owners: @protolambda, @trianglesphere, @mslipper

feat: js deposit tx
  packages/contracts/helpers/index.ts
  packages/contracts/package.json
  packages/contracts/tasks/deposits.ts
  packages/contracts/test/helpers.spec.ts
  packages/contracts/yarn.lock
Owners: @protolambda, @norswap, @maurelian

opnode: Remove panic in ExecutionPayload unmarshal
  opnode/l2/api.go
  opnode/l2/api_test.go
  opnode/l2/testdata/executionPayload_bad.json
  opnode/l2/testdata/executionPayload_good.json
Owners: @protolambda, @trianglesphere, @mslipper

Update Makefile
  Makefile
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                    @protolambda @norswap @trianglesphere @maurelian @mslipper
/specs/              @protolambda @norswap @maurelian 
/l2os/               @protolambda @trianglesphere @cfromknecht @mslipper
/opnode/             @protolambda @trianglesphere @mslipper
/packages/contracts/ @protolambda @norswap @maurelian
