Repository ethereum-optimism/optimistic-specs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes, @smartcontracts

Unify add block - works by returning payload, not ID
  opnode/rollup/driver/step.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

PR cleanup comments
  opnode/rollup/driver/state.go
  opnode/test/geth.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

PR comment
  opnode/rollup/derive/payload_attributes.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

fix nil pointer w/ ticker channel
  opnode/rollup/driver/state.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

Small change
  opnode/rollup/driver/step.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

Add forge
  .gitignore
  .gitmodules
  packages/contracts/.gitignore
  packages/contracts/README.md
  packages/contracts/hardhat.config.ts
  packages/contracts/package.json
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes, @smartcontracts

--wip--
  .github/workflows/static-analysis.yml
  specs/proposals.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

Convert L1Block test from ts to sol
  packages/contracts/contracts/test/L1Block.t.sol
  packages/contracts/test/L2/L1Block.spec.ts
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

--wip--
  .editorconfig
  .github/workflows/md-ci.yml
  .github/workflows/solidity-ci.yml
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

--wip--
  .github/workflows/solidity-ci.yml
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

--wip--
  .github/workflows/solidity-ci.yml
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

--wip--
  packages/contracts/package.json
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

--wip--
  .github/workflows/solidity-ci.yml
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

--wip--
  .github/workflows/solidity-ci.yml
  packages/contracts/package.json
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes, @smartcontracts

Squashed cleanup
  opnode/l2/api.go
  opnode/l2/source.go
  opnode/node/node.go
  opnode/rollup/derive/execution_payload.go
  opnode/rollup/derive/payload_attributes.go
  opnode/rollup/driver/driver.go
  opnode/rollup/driver/state.go
  opnode/rollup/driver/state_test.go
  opnode/rollup/driver/step.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

opnode,specs: define max_l2_seq_time_diff, default to l2 block time
  opnode/rollup/driver/state.go
  opnode/rollup/driver/step.go
  opnode/test/system_test.go
  specs/rollup-node.md
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes, @maurelian, @karlfloersch, @ben-chain

specs: Add L2 output submitter service
  packages/contracts/contracts/L1/MockL2OutputOracle.sol
  specs/README.md
  specs/glossary.md
  specs/proposals.md
  specs/rollup-node.md
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts, @trianglesphere, @ben-chain, @cfromknecht, @mslipper, @tynes

Change optimism_outputAtBlock param to L2 blocknum
  specs/rollup-node.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

Run CI on feat/* branches
  .github/workflows/go-ci.yml
  .github/workflows/markdown-ci.yml
  .github/workflows/solidity-ci.yml
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

Replace submissionFrequency with submissionInterval
  packages/contracts/contracts/L1/MockL2OutputOracle.sol
  specs/proposals.md
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts, @trianglesphere, @ben-chain, @cfromknecht, @mslipper, @tynes

Address PR comments on output submission spec
  specs/glossary.md
  specs/proposals.md
  specs/rollup-node.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

Fix linting
  specs/proposals.md
  specs/rollup-node.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

feat: DepositFeed receive function
  packages/contracts/contracts/L1/DepositFeed.sol
  packages/contracts/test/L1/DepositFeed.spec.ts
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

Rename MockL2OutputOracle to L2OutputOracle
  packages/contracts/contracts/L1/L2OutputOracle.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

Address review comments
  specs/README.md
  specs/glossary.md
  specs/proposals.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

Update optimism_outputAtBlock method spec
  specs/rollup-node.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

forge install: openzeppelin-contracts
  .gitmodules
  packages/contracts/.eslintignore
  packages/contracts/contracts/L1/L2OutputOracle.sol
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes, @smartcontracts

Improve ordering of tests
  packages/contracts/contracts/test/L2OutputOracle.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

Add l2OutputOracle tests
  packages/contracts/contracts/test/L2OutputOracle.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

Import forge-std for HEVM interface
  .gitmodules
  packages/contracts/contracts/test/L2OutputOracle.t.sol
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes, @smartcontracts

Add sad path tests for appendL2Output
  packages/contracts/contracts/test/L2OutputOracle.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

Add comments and improve variables names
  packages/contracts/contracts/L1/L2OutputOracle.sol
  packages/contracts/contracts/test/L2OutputOracle.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

Fix off-by one error in computeL2BlockNumber
  packages/contracts/contracts/L1/L2OutputOracle.sol
  packages/contracts/contracts/test/L2OutputOracle.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

Add l2OutputAppended event
  packages/contracts/contracts/L1/L2OutputOracle.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

Add blockhash check
  packages/contracts/.prettierignore
  packages/contracts/.solhintignore
  packages/contracts/README.md
  packages/contracts/contracts/L1/L2OutputOracle.sol
  packages/contracts/contracts/test/L2OutputOracle.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

Fix slither warnings
  packages/contracts/contracts/L1/L2OutputOracle.sol
  packages/contracts/slither.config.json
  packages/contracts/slither.db.json
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

Add foundry.toml
  packages/contracts/README.md
  packages/contracts/foundry.toml
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

Update specs to match implementation
  packages/contracts/contracts/L1/L2OutputOracle.sol
  specs/proposals.md
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts, @trianglesphere, @ben-chain, @cfromknecht, @mslipper, @tynes

Fix typo and event declaration ordering
  packages/contracts/.solhint.json
  packages/contracts/contracts/L1/L2OutputOracle.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

Add getL2Output function and make mapping internal
  packages/contracts/contracts/L1/L2OutputOracle.sol
  packages/contracts/contracts/test/L2OutputOracle.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                    @protolambda @norswap @trianglesphere @maurelian @karlfloersch @ben-chain @cfromknecht @mslipper @tynes
/l2os/               @protolambda @norswap @trianglesphere @cfromknecht @mslipper @tynes
/opnode/             @protolambda @norswap @trianglesphere @cfromknecht @mslipper @tynes
/packages/contracts/ @protolambda @norswap @maurelian @karlfloersch @smartcontracts
