Repository ethereum-optimism/optimistic-specs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper, @cfromknecht

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                    @protolambda @norswap @trianglesphere @maurelian @mslipper
/specs/              @protolambda @norswap @maurelian 
/l2os/               @protolambda @trianglesphere @cfromknecht @mslipper
/opnode/             @protolambda @trianglesphere @mslipper
/packages/contracts/ @protolambda @norswap @maurelian

contracts: `StandardBridge`
  packages/contracts/contracts/L1/L1StandardBridge.sol
  packages/contracts/contracts/L2/L2StandardBridge.sol
  packages/contracts/contracts/universal/StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian

contracts: L2OutputOracle
  packages/contracts/contracts/L1/L2OutputOracle.sol
  packages/contracts/contracts/test/L2OutputOracle.t.sol
Owners: @protolambda, @norswap, @maurelian

contracts: standard bridge tests
  packages/contracts/contracts/test/L1StandardBridge.t.sol
  packages/contracts/contracts/test/L2StandardBridge.t.sol
Owners: @protolambda, @norswap, @maurelian

contracts: cross domain hashing lib + tests
  packages/contracts/contracts/libraries/Lib_CrossDomainHashing.sol
  packages/contracts/contracts/test/CrossDomainHashing.t.sol
Owners: @protolambda, @norswap, @maurelian

contracts: tests for cross domain messengers
  packages/contracts/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts/contracts/test/L2CrossDomainMessenger.t.sol
Owners: @protolambda, @norswap, @maurelian

contracts: L2ToL1MessagePasser
  packages/contracts/contracts/L2/L2ToL1MessagePasser.sol
  packages/contracts/contracts/test/L2ToL1MessagePasser.t.sol
Owners: @protolambda, @norswap, @maurelian

contracts: safe call lib
  packages/contracts/contracts/libraries/ExcessivelySafeCall.sol
Owners: @protolambda, @norswap, @maurelian

contracts: optimism mintable erc20
  packages/contracts/contracts/L2/tokens/L2StandardERC20.sol
  packages/contracts/contracts/test/OptimismMintableERC20.t.sol
  packages/contracts/contracts/universal/OptimismMintableERC20.sol
Owners: @protolambda, @norswap, @maurelian

contracts: common test setup
  packages/contracts/contracts/test/CommonTest.t.sol
Owners: @protolambda, @norswap, @maurelian

contracts: optimism mintable token factory
  packages/contracts/contracts/test/OptimismMintableTokenFactory.t.sol
  packages/contracts/contracts/universal/OptimismMintableTokenFactory.sol
Owners: @protolambda, @norswap, @maurelian

contracts: test OptimismPortal
  packages/contracts/contracts/test/OptimismPortal.t.sol
Owners: @protolambda, @norswap, @maurelian

contracts: L1Block attributes
  packages/contracts/contracts/L2/L1Block.sol
  packages/contracts/contracts/test/L1Block.t.sol
Owners: @protolambda, @norswap, @maurelian

contracts: update libraries
  packages/contracts/contracts/libraries/Lib_BedrockPredeployAddresses.sol
  packages/contracts/contracts/libraries/Lib_WithdrawalVerifier.sol
Owners: @protolambda, @norswap, @maurelian

contracts: update foundry.toml
  packages/contracts/foundry.toml
Owners: @protolambda, @norswap, @maurelian

contracts: Burner
  packages/contracts/contracts/L2/Burner.sol
Owners: @protolambda, @norswap, @maurelian

contracts: delete dead code
  packages/contracts/contracts/L1/messaging/IL1CrossDomainMessenger.sol
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
  packages/contracts/contracts/L1/messaging/L1StandardBridge.sol
  packages/contracts/contracts/L2/IWithdrawer.sol
  packages/contracts/contracts/L2/Withdrawer.sol
  packages/contracts/contracts/L2/messaging/IL2ERC20Bridge.sol
  packages/contracts/contracts/L2/messaging/IL2StandardTokenFactory.sol
  packages/contracts/contracts/L2/messaging/L2CrossDomainMessenger.sol
  packages/contracts/contracts/L2/messaging/L2StandardBridge.sol
  packages/contracts/contracts/L2/messaging/L2StandardTokenFactory.sol
  packages/contracts/contracts/L2/tokens/IL2StandardERC20.sol
  packages/contracts/contracts/test/DepositFeed.t.sol
  packages/contracts/contracts/test/WithdrawalsRelay.t.sol
  packages/contracts/contracts/test/Withdrawer.t.sol
Owners: @protolambda, @norswap, @maurelian

contracts: update hh deploy scripts
  packages/contracts/deploy/002-L1CrossDomainMessenger.ts
  packages/contracts/deploy/003-L1StandardBridge.ts
  packages/contracts/deploy/004-OptimismMintableTokenFactory.ts
Owners: @protolambda, @norswap, @maurelian

contracts: update gas snapshot
  packages/contracts/.gas-snapshot
Owners: @protolambda, @norswap, @maurelian

integration-tests: update for new messengers
  packages/integration-tests/test/000_withdrawals.spec.ts
  packages/integration-tests/test/shared/constants.ts
  packages/integration-tests/test/shared/env.ts
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

ops: devnet up script new genesis
  ops/devnet-up.sh
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

opnode: new bindings
  opnode/contracts/Makefile
  opnode/contracts/deposit/deposit_feed_raw.go
  opnode/contracts/deposit/optimism_portal_deployed.go
  opnode/test/system_test.go
Owners: @protolambda, @trianglesphere, @mslipper

l2os: new bindings
  l2os/bindings/l2oo/l2_output_oracle.go
  l2os/drivers/l2output/driver.go
Owners: @protolambda, @trianglesphere, @cfromknecht, @mslipper

contracts: update gas snapshot
  packages/contracts/.gas-snapshot
Owners: @protolambda, @norswap, @maurelian

specs: L2ToL1MessagePasser
  specs/proposals.md
  specs/withdrawals.md
Owners: @protolambda, @norswap, @maurelian

specs: messengers
  specs/messengers.md
Owners: @protolambda, @norswap, @maurelian

specs: bridges
  specs/bridges.md
Owners: @protolambda, @norswap, @maurelian

specs: fix linting issues
  specs/bridges.md
  specs/proposals.md
  specs/withdrawals.md
Owners: @protolambda, @norswap, @maurelian

Fixes from code review
  opnode/rollup/driver/driver.go
  opnode/service.go
Owners: @protolambda, @trianglesphere, @mslipper

Imports
  opnode/service.go
Owners: @protolambda, @trianglesphere, @mslipper

contracts: better contract for is optimism mintable
  packages/contracts/contracts/universal/StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian

contracts: fix some comments
  packages/contracts/contracts/L1/L1StandardBridge.sol
  packages/contracts/contracts/L2/L2ToL1MessagePasser.sol
  packages/contracts/contracts/universal/StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian

contracts: assert finalization window has passed
  packages/contracts/.gas-snapshot
  packages/contracts/contracts/L1/OptimismPortal.sol
  packages/contracts/contracts/test/OptimismPortal.t.sol
Owners: @protolambda, @norswap, @maurelian

bindings: regenerate
  opnode/contracts/deposit/deposit_feed_raw.go
  opnode/contracts/deposit/optimism_portal_deployed.go
Owners: @protolambda, @trianglesphere, @mslipper

Add state surgery package
  state-surgery/.gitignore
  state-surgery/Dockerfile
  state-surgery/Makefile
  state-surgery/README.md
  state-surgery/cmd/main.go
  state-surgery/genesis.go
  state-surgery/go.mod
  state-surgery/go.sum
  state-surgery/migrate.go
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

Add OVM_L1BlockNumber predeploy
  packages/contracts/.gas-snapshot
  packages/contracts/contracts/L2/predeploys/OVM_L1BlockNumber.sol
  packages/contracts/contracts/L2/predeploys/iOVM_L1BlockNumber.sol
  packages/contracts/contracts/test/OVM_L1BlockNumber.t.sol
Owners: @protolambda, @norswap, @maurelian

Fix space
  ops/docker-compose.yml
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

Add version RPC
  opnode/Makefile
  opnode/cmd/main.go
  opnode/node/api.go
  opnode/node/server_test.go
  opnode/version/version.go
Owners: @protolambda, @trianglesphere, @mslipper

contracts: address comments
  packages/contracts/contracts/universal/CrossDomainMessenger.sol
  packages/contracts/contracts/universal/OptimismMintableTokenFactory.sol
  packages/contracts/contracts/universal/StandardBridge.sol
  specs/messengers.md
Owners: @protolambda, @norswap, @maurelian

Code review updates
  packages/contracts/.gas-snapshot
  packages/contracts/contracts/L2/OVM_L1BlockNumber.sol
  packages/contracts/contracts/L2/iOVM_L1BlockNumber.sol
  packages/contracts/contracts/test/OVM_L1BlockNumber.t.sol
Owners: @protolambda, @norswap, @maurelian

Gas snapshot
  packages/contracts/.gas-snapshot
Owners: @protolambda, @norswap, @maurelian
