Repository ethereum-optimism/optimistic-specs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes, @smartcontracts

WIP: update output submitter to for new L2oo interface
  l2os/Makefile
  l2os/bindings/l2oo/l2_output_oracle.go
  l2os/bindings/l2oo/mock_l2_output_oracle.go
  l2os/drivers/l2output/driver.go
  opnode/test/system_test.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

Move definitions to end of doc
  packages/contracts/README.md
  specs/proposals.md
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts, @trianglesphere, @ben-chain, @cfromknecht, @mslipper, @tynes

Improve ordering of tests
  packages/contracts/contracts/test/L2OutputOracle.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

Add l2OutputAppended event
  packages/contracts/contracts/L1/L2OutputOracle.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

Add sad path tests for appendL2Output
  packages/contracts/contracts/test/L2OutputOracle.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

Add comments and improve variables names
  packages/contracts/contracts/L1/L2OutputOracle.sol
  packages/contracts/contracts/test/L2OutputOracle.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

Add l2OutputOracle tests
  packages/contracts/contracts/test/L2OutputOracle.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

forge install: openzeppelin-contracts
  .gitmodules
  packages/contracts/.eslintignore
  packages/contracts/contracts/L1/L2OutputOracle.sol
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes, @smartcontracts

Add blockhash check
  packages/contracts/.prettierignore
  packages/contracts/.solhintignore
  packages/contracts/contracts/L1/L2OutputOracle.sol
  packages/contracts/contracts/test/L2OutputOracle.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

Import forge-std for HEVM interface
  .gitmodules
  packages/contracts/contracts/test/L2OutputOracle.t.sol
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes, @smartcontracts

Fix off-by one error in computeL2BlockNumber
  packages/contracts/contracts/L1/L2OutputOracle.sol
  packages/contracts/contracts/test/L2OutputOracle.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

Fix slither warnings
  packages/contracts/contracts/L1/L2OutputOracle.sol
  packages/contracts/slither.config.json
  packages/contracts/slither.db.json
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

wip: optimism_outputAtBlock
  go.mod
  go.sum
  opnode/flags/flags.go
  opnode/l2/api.go
  opnode/node/config.go
  opnode/node/node.go
  opnode/node/rpc.go
  opnode/node/server.go
  opnode/rollup/driver/step.go
  opnode/service.go
  ops/docker-compose.yml
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

wip
  opnode/node/node.go
  opnode/node/server.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

insert txs
  opnode/cmd/main.go
  opnode/node/node.go
  opnode/node/server.go
  opnode/test/system_test.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

ensure L2Ouptut is SSZ-serializable
  opnode/l2/api.go
  opnode/node/server.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

specs: Add overview page
  specs/assets/components.svg
  specs/assets/derivation-1.svg
  specs/assets/derivation-2.svg
  specs/assets/derivation-3.svg
  specs/assets/propagation.svg
  specs/overview.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

Add foundry.toml
  packages/contracts/README.md
  packages/contracts/foundry.toml
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

Fix typo and event declaration ordering
  packages/contracts/.solhint.json
  packages/contracts/contracts/L1/L2OutputOracle.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

Add getL2Output function and make mapping internal
  packages/contracts/contracts/L1/L2OutputOracle.sol
  packages/contracts/contracts/test/L2OutputOracle.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

use geth rpcstack for API reg
  Makefile
  go.mod
  go.sum
  opnode/l2/api.go
  opnode/node/node.go
  opnode/node/rpc.go
  opnode/node/server.go
  opnode/service.go
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

Update spec to match implementation
  packages/contracts/contracts/L1/L2OutputOracle.sol
  specs/proposals.md
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts, @trianglesphere, @ben-chain, @cfromknecht, @mslipper, @tynes

Rename reorg protection vars to with L1 prefix
  packages/contracts/contracts/L1/L2OutputOracle.sol
  packages/contracts/contracts/test/L2OutputOracle.t.sol
  specs/proposals.md
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts, @trianglesphere, @ben-chain, @cfromknecht, @mslipper, @tynes

opnode: Switch to BlockRefs in state loop
  opnode/l1/source.go
  opnode/l2/api.go
  opnode/rollup/driver/driver.go
  opnode/rollup/driver/state.go
  opnode/rollup/driver/state_test.go
  opnode/rollup/driver/step.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

opnode: Add Time field to BlockId
  opnode/eth/heads.go
  opnode/eth/id.go
  opnode/l1/source.go
  opnode/l2/api.go
  opnode/rollup/derive/invert.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

opnode: Update sync start algorithm
  opnode/rollup/sync/start.go
  opnode/rollup/sync/start_test.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

opnode: Switch to using new sync method
  opnode/l1/source.go
  opnode/rollup/driver/driver.go
  opnode/rollup/driver/fake_chain.go
  opnode/rollup/driver/state.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

opnode: WIP refactor
  opnode/rollup/driver/state.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

hack: Way faster e2e test
  opnode/test/system_test.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

opnode: Make it work
  opnode/rollup/driver/state.go
  opnode/rollup/sync/start_test.go
  opnode/test/setup.go
  opnode/test/system_test.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

opnode: Make it work
  opnode/rollup/driver/state.go
  opnode/rollup/sync/start_test.go
  opnode/test/setup.go
  opnode/test/system_test.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

opnode: Update sync start algorithm
  opnode/rollup/sync/start.go
  opnode/rollup/sync/start_test.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

opnode: Switch to using new sync method
  opnode/l1/source.go
  opnode/rollup/driver/driver.go
  opnode/rollup/driver/fake_chain.go
  opnode/rollup/driver/state.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

separate op RPCs; server_test
  opnode/node/api.go
  opnode/node/node.go
  opnode/node/server.go
  opnode/node/server_test.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

Update output submitter for new L2oo interface
  l2os/Makefile
  l2os/bindings/l2oo/l2_output_oracle.go
  l2os/bindings/l2oo/mock_l2_output_oracle.go
  l2os/drivers/l2output/driver.go
  opnode/test/system_test.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

account proof mixup!
  opnode/node/api.go
  opnode/node/server.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

test fix
  opnode/node/server_test.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

todo VerifyAccountProof
  opnode/node/api.go
  opnode/node/server.go
  opnode/node/util.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

opnode/node: fix account proof verification and test
  opnode/node/api.go
  opnode/node/server.go
  opnode/node/server_test.go
  opnode/node/util.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

remove print debug
  opnode/node/server.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                    @protolambda @norswap @trianglesphere @maurelian @karlfloersch @ben-chain @cfromknecht @mslipper @tynes
/l2os/               @protolambda @norswap @trianglesphere @cfromknecht @mslipper @tynes
/opnode/             @protolambda @norswap @trianglesphere @cfromknecht @mslipper @tynes
/packages/contracts/ @protolambda @norswap @maurelian @karlfloersch @smartcontracts
