Repository ethereum-optimism/optimistic-specs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes, @smartcontracts

opnode: More fuzzing cleanup
  opnode/rollup/derive/fuzz_parsers_test.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

feat: new architecture builds
  packages/contracts/contracts/ICrossDomainMessenger.sol
  packages/contracts/contracts/L1/L2OutputOracle.sol
  packages/contracts/contracts/L1/OptimismPortal.sol
  packages/contracts/contracts/L1/abstracts/WithdrawalsRelay.sol
  packages/contracts/contracts/L1/messaging/IL1CrossDomainMessenger.sol
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
  packages/contracts/contracts/L2/messaging/IL2CrossDomainMessenger.sol
  packages/contracts/contracts/L2/messaging/L2CrossDomainMessenger.sol
  packages/contracts/contracts/libraries/Lib_WithdrawalVerifier.sol
  packages/contracts/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts/contracts/test/L2CrossDomainMessenger.t.sol
  packages/contracts/contracts/test/L2OutputOracle.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

refactor build
  packages/contracts/contracts/L1/L1CrossDomainMessenger.sol
  packages/contracts/contracts/L1/L1StandardBridge.sol
  packages/contracts/contracts/L1/OptimismPortal.sol
  packages/contracts/contracts/L1/abstracts/DepositFeed.sol
  packages/contracts/contracts/L1/abstracts/WithdrawalsRelay.sol
  packages/contracts/contracts/L2/Burner.sol
  packages/contracts/contracts/L2/IWithdrawer.sol
  packages/contracts/contracts/L2/L2CrossDomainMessenger.sol
  packages/contracts/contracts/L2/L2StandardBridge.sol
  packages/contracts/contracts/L2/L2StandardERC20.sol
  packages/contracts/contracts/L2/L2StandardTokenFactory.sol
  packages/contracts/contracts/L2/Withdrawer.sol
  packages/contracts/contracts/interfaces/ICrossDomainMessenger.sol
  packages/contracts/contracts/interfaces/IDepositFeed.sol
  packages/contracts/contracts/interfaces/IL1CrossDomainMessenger.sol
  packages/contracts/contracts/interfaces/IL1ERC20Bridge.sol
  packages/contracts/contracts/interfaces/IL1StandardBridge.sol
  packages/contracts/contracts/interfaces/IL2CrossDomainMessenger.sol
  packages/contracts/contracts/interfaces/IL2ERC20Bridge.sol
  packages/contracts/contracts/interfaces/IL2StandardBridge.sol
  packages/contracts/contracts/interfaces/IL2StandardERC20.sol
  packages/contracts/contracts/interfaces/IL2StandardTokenFactory.sol
  packages/contracts/contracts/libraries/Lib_CrossDomainHashing.sol
  packages/contracts/contracts/libraries/Lib_WithdrawalVerifier.sol
  packages/contracts/contracts/test/DepositFeed.t.sol
  packages/contracts/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts/contracts/test/L1StandardBridge.t.sol
  packages/contracts/contracts/test/L2CrossDomainMessenger.t.sol
  packages/contracts/contracts/test/L2OutputOracle.t.sol
  packages/contracts/contracts/test/L2StandardBridge.t.sol
  packages/contracts/contracts/test/OptimismPortal.t.sol
  packages/contracts/contracts/test/WithdrawalsRelay.t.sol
  packages/contracts/contracts/test/Withdrawer.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

lint: fix
  packages/contracts/contracts/L1/L1CrossDomainMessenger.sol
  packages/contracts/contracts/L1/L1StandardBridge.sol
  packages/contracts/contracts/L1/L2OutputOracle.sol
  packages/contracts/contracts/L2/L2CrossDomainMessenger.sol
  packages/contracts/contracts/L2/L2StandardBridge.sol
  packages/contracts/contracts/libraries/Lib_CrossDomainHashing.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

wip: base messenger contract
  packages/contracts/contracts/L1/L1CrossDomainMessenger.sol
  packages/contracts/contracts/L2/L2CrossDomainMessenger.sol
  packages/contracts/contracts/universal/CrossDomainMessenger.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

wip: more stuff
  packages/contracts/contracts/L1/L1CrossDomainMessenger.sol
  packages/contracts/contracts/L2/L2CrossDomainMessenger.sol
  packages/contracts/contracts/L2/L2StandardBridge.sol
  packages/contracts/contracts/interfaces/IL1CrossDomainMessenger.sol
  packages/contracts/contracts/interfaces/IL2CrossDomainMessenger.sol
  packages/contracts/contracts/libraries/Lib_WithdrawalVerifier.sol
  packages/contracts/contracts/universal/CrossDomainMessenger.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

wip: again
  packages/contracts/contracts/L1/L1CrossDomainMessenger.sol
  packages/contracts/contracts/L1/L1StandardBridge.sol
  packages/contracts/contracts/L1/L2OutputOracle.sol
  packages/contracts/contracts/L1/OptimismPortal.sol
  packages/contracts/contracts/L2/L2CrossDomainMessenger.sol
  packages/contracts/contracts/L2/L2StandardBridge.sol
  packages/contracts/contracts/L2/L2ToL1MessagePasser.sol
  packages/contracts/contracts/libraries/ExcessivelySafeCall.sol
  packages/contracts/contracts/libraries/Lib_CrossDomainHashing.sol
  packages/contracts/contracts/libraries/Lib_WithdrawalVerifier.sol
  packages/contracts/contracts/universal/CrossDomainMessenger.sol
  packages/contracts/foundry.toml
  packages/contracts/package.json
  packages/contracts/yarn.lock
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

opnode: Use new deposit event & tx
  opnode/rollup/derive/fuzz_parsers_test.go
  opnode/rollup/derive/payload_attributes.go
  opnode/rollup/derive/payload_attributes_test.go
  opnode/test/system_test.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

Update integration tests
  packages/integration-tests/contracts/MultiDepositor.sol
  packages/integration-tests/test/000_withdrawals.spec.ts
  packages/integration-tests/test/deposit.spec.ts
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

opnode: Update contract bindings
  opnode/contracts/deposit/deposit_feed_raw.go
  opnode/contracts/deposit/optimism_portal_deployed.go
  packages/contracts/contracts/test/WithdrawalsRelay.t.sol
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes, @maurelian, @karlfloersch, @smartcontracts

contracts: Update Deposit Event type
  packages/contracts/.gas-snapshot
  packages/contracts/contracts/L1/OptimismPortal.sol
  packages/contracts/contracts/L1/abstracts/DepositFeed.sol
  packages/contracts/contracts/L1/abstracts/IDepositFeed.sol
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
  packages/contracts/contracts/L1/messaging/L1StandardBridge.sol
  packages/contracts/contracts/test/CommonTest.t.sol
  packages/contracts/contracts/test/DepositFeed.t.sol
  packages/contracts/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts/contracts/test/OptimismPortal.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

opnode: Use geth client with new deposit tx type
  go.mod
  go.sum
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

TEMP: Update docker image for integration tests
  ops/Dockerfile.l2
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

test: Enable contract creation through a deposit test
  packages/integration-tests/test/deposit.spec.ts
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

opnode: Add debug tracer to geth in e2e test
  opnode/test/geth.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

StateViz: Visualize rollup state changes
  opnode/cmd/main.go
  opnode/flags/flags.go
  opnode/internal/testlog/testlog.go
  opnode/node/node.go
  opnode/rollup/driver/driver.go
  opnode/rollup/driver/state.go
  opnode/rollup/driver/state_test.go
  opnode/service.go
  opnode/stateviz/assets/index.html
  opnode/stateviz/assets/main.js
  opnode/stateviz/main.go
  opnode/test/setup.go
  opnode/test/system_test.go
  ops/Dockerfile.l2
  ops/docker-compose.yml
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes, @maurelian, @karlfloersch, @ben-chain

remove DEBUGMEs
  opnode/internal/testlog/testlog.go
  opnode/stateviz/main.go
  ops/Dockerfile.l2
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes, @maurelian, @karlfloersch, @ben-chain

fix: DepositFeed.sol link
  specs/deposits.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

Add L1WindowBuf to viz
  opnode/rollup/driver/state.go
  opnode/stateviz/assets/main.js
  opnode/stateviz/main.go
  opnode/test/system_test.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

move stateviz to opnode/cmd
  opnode/cmd/stateviz/assets/index.html
  opnode/cmd/stateviz/assets/main.js
  opnode/cmd/stateviz/main.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

Add stateviz to docker-compose
  opnode/cmd/stateviz/assets/main.js
  opnode/cmd/stateviz/main.go
  ops/Dockerfile.stateviz
  ops/devnet-up.sh
  ops/docker-compose.yml
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes, @maurelian, @karlfloersch, @ben-chain

html lint
  opnode/cmd/stateviz/assets/main.js
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

Add SRI
  opnode/cmd/stateviz/assets/index.html
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

Fix linter
  opnode/cmd/stateviz/main.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

specs: Update
  specs/deposits.md
  specs/guaranteed_gas_market.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

specs: Toc + lint fix
  specs/guaranteed_gas_market.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

specs: More updates
  specs/guaranteed_gas_market.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

specs: Add link
  specs/deposits.md
  specs/guaranteed-gas-market.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

specs: More updates
  specs/guaranteed-gas-market.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

specs: TODO for gas stipend
  specs/guaranteed-gas-market.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

explain why version
  specs/deposits.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

explain PGAs
  specs/glossary.md
  specs/guaranteed-gas-market.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

Merge fixes
  opnode/node/node.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

typo
  specs/guaranteed-gas-market.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

python pseudocode
  specs/guaranteed-gas-market.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

versioned deposit
  specs/deposits.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

clarify deposit gas usage on L2
  specs/deposits.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

contracts: consolidate OptimismPortal
  packages/contracts/contracts/L1/OptimismPortal.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: delete abstracts
  packages/contracts/contracts/L1/abstracts/DepositFeed.sol
  packages/contracts/contracts/L1/abstracts/IDepositFeed.sol
  packages/contracts/contracts/L1/abstracts/WithdrawalsRelay.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: base `CrossDomainMessenger` + L1 and L2
  packages/contracts/contracts/L1/L1CrossDomainMessenger.sol
  packages/contracts/contracts/L2/L2CrossDomainMessenger.sol
  packages/contracts/contracts/universal/CrossDomainMessenger.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                    @protolambda @norswap @trianglesphere @maurelian @karlfloersch @ben-chain @cfromknecht @mslipper @tynes
/l2os/               @protolambda @norswap @trianglesphere @cfromknecht @mslipper @tynes
/opnode/             @protolambda @norswap @trianglesphere @cfromknecht @mslipper @tynes
/packages/contracts/ @protolambda @norswap @maurelian @karlfloersch @smartcontracts
