Repository ethereum-optimism/optimistic-specs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes, @smartcontracts

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                    @protolambda @norswap @trianglesphere @maurelian @karlfloersch @ben-chain @cfromknecht @mslipper @tynes
/l2os/               @protolambda @norswap @trianglesphere @cfromknecht @mslipper @tynes
/opnode/             @protolambda @norswap @trianglesphere @cfromknecht @mslipper @tynes
/packages/contracts/ @protolambda @norswap @maurelian @karlfloersch @smartcontracts

split multi gas update formula
  specs/guaranteed-gas-market.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

specs: More changes
  specs/guaranteed-gas-market.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

update values
  specs/deposits.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

harmonize with implementation
  specs/guaranteed-gas-market.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

Update specs/deposits.md
  specs/deposits.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

Update deposits.md
  specs/deposits.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

fix(exec-engine): typo
  specs/exec-engine.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

specs: fix TOC
  specs/exec-engine.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

Update deposits.md
  specs/deposits.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

fix(deposits.md): Rename to "withdrawals specs"
  specs/deposits.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

op-bindings: separate bindings into new module to resolve dependency cycle (#446)
  .github/workflows/go-ci.yml
  go.work
  go.work.sum
  op-batcher/go.mod
  op-batcher/go.sum
  op-bindings/Makefile
  op-bindings/deposit/deposit_feed_raw.go
  op-bindings/deposit/optimism_portal_deployed.go
  op-bindings/doc.go
  op-bindings/go.mod
  op-bindings/go.sum
  op-bindings/l1block/l1_block_info_deployed.go
  op-bindings/l1block/l1_block_info_raw.go
  op-bindings/l2oo/l2_output_oracle.go
  op-bindings/withdrawer/withdrawer_deployed.go
  op-bindings/withdrawer/withdrawer_raw.go
  op-e2e/go.mod
  op-e2e/go.sum
  op-e2e/setup.go
  op-e2e/system_test.go
  op-node/go.mod
  op-node/go.sum
  op-node/rollup/derive/fuzz_parsers_test.go
  op-node/withdrawals/utils.go
  op-proposer/Makefile
  op-proposer/drivers/l2output/driver.go
  op-proposer/go.mod
  ops-bedrock/Dockerfile.batcher
  ops-bedrock/Dockerfile.l1
  ops-bedrock/Dockerfile.node
  ops-bedrock/Dockerfile.proposer
  ops-bedrock/Dockerfile.stateviz
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

Use ticker instead of time.After in select loop
  op-e2e/geth.go
  op-proposer/service.go
  op-proposer/txmgr/txmgr.go
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

Use net.JoinHostPort instead of fmt.Sprintf
  op-node/node/server.go
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

clarify intrinsic gas failure
  specs/deposits.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

contracts: Fix L-01 use _from instead of msg.sender
  packages/contracts/.gas-snapshot
  packages/contracts/contracts/L2/L2StandardBridge.sol
  packages/contracts/contracts/universal/StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: Fix OZ-L-04 warn about nonstandard tokens
  packages/contracts/contracts/L1/L1StandardBridge.sol
  packages/contracts/contracts/L2/L2StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: Fix OZ-L-05 Warn about trapped funds
  packages/contracts/contracts/L1/L1StandardBridge.sol
  packages/contracts/contracts/L2/L2StandardBridge.sol
  packages/contracts/contracts/universal/StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: Fix OZ-N-01 ETH can be stolen
  packages/contracts/contracts/L2/L2StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: Fix OZ-N-05 Misleading or unclear comments
  packages/contracts/contracts/L1/L1StandardBridge.sol
  packages/contracts/contracts/L1/L2OutputOracle.sol
  packages/contracts/contracts/L1/OptimismPortal.sol
  packages/contracts/contracts/universal/OptimismMintableTokenFactory.sol
  packages/contracts/contracts/universal/StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: Update withdrawer references to L2ToL1MessagePasser
  packages/contracts/contracts/L1/OptimismPortal.sol
  packages/contracts/contracts/L2/L2ToL1MessagePasser.sol
  packages/contracts/contracts/libraries/Lib_WithdrawalVerifier.sol
  packages/contracts/contracts/test/L2StandardBridge.t.sol
  packages/contracts/contracts/test/L2ToL1MessagePasser.t.sol
  packages/contracts/contracts/test/OptimismPortal.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

op-bindings: regenerate with message passer name
  op-bindings/Makefile
  op-bindings/deposit/deposit_feed_raw.go
  op-bindings/message_passer/message_passer_deployed.go
  op-bindings/message_passer/message_passer_raw.go
  op-bindings/withdrawer/withdrawer_deployed.go
  op-bindings/withdrawer/withdrawer_raw.go
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

Update Readme to Close Specs Repo
  README.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

contracts: Fix OZ-N-03 Complex ERC165 implementation
  packages/contracts/.gas-snapshot
  packages/contracts/contracts/test/OptimismMintableERC20.t.sol
  packages/contracts/contracts/universal/OptimismMintableERC20.sol
  packages/contracts/contracts/universal/StandardBridge.sol
  packages/contracts/contracts/universal/SupportedInterfaces.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: Fix OZ-N-04 Hardcoded values
  packages/contracts/.gas-snapshot
  packages/contracts/contracts/L1/OptimismPortal.sol
  packages/contracts/contracts/L2/L2ToL1MessagePasser.sol
  packages/contracts/contracts/universal/CrossDomainMessenger.sol
  packages/contracts/contracts/universal/StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

ops: Increase golangci-lint timeout
  .github/workflows/go-ci.yml
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

op-bindings: rebuild
  op-bindings/deposit/deposit_feed_raw.go
  op-bindings/deposit/optimism_portal_deployed.go
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

contracts: Fix OZ-N-03 Complex ERC165 implementation
  packages/contracts/.gas-snapshot
  packages/contracts/contracts/test/OptimismMintableERC20.t.sol
  packages/contracts/contracts/universal/OptimismMintableERC20.sol
  packages/contracts/contracts/universal/StandardBridge.sol
  packages/contracts/contracts/universal/SupportedInterfaces.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: Fix OZ-M-01 refund arguments
  packages/contracts/contracts/test/CommonTest.t.sol
  packages/contracts/contracts/test/L2StandardBridge.t.sol
  packages/contracts/contracts/universal/StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: Fix OZ-M-02 by removing donateEth()
  packages/contracts/.gas-snapshot
  packages/contracts/contracts/test/L1StandardBridge.t.sol
  packages/contracts/contracts/universal/StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: Fix OZ-M-05 rename _data to _extraData
  packages/contracts/contracts/L1/L1StandardBridge.sol
  packages/contracts/contracts/L1/OptimismPortal.sol
  packages/contracts/contracts/L2/L2StandardBridge.sol
  packages/contracts/contracts/universal/StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: Fix OZ-M-04 Disallow reentrant withdrawals
  op-bindings/deposit/deposit_feed_raw.go
  op-bindings/deposit/optimism_portal_deployed.go
  packages/contracts/contracts/L1/OptimismPortal.sol
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes, @smartcontracts

contracts: Fix OZ-M-06 - Unpause functionality
  packages/contracts/.gas-snapshot
  packages/contracts/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts/contracts/universal/CrossDomainMessenger.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

Update guaranteed-gas-market.md
  specs/guaranteed-gas-market.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

contracts: Fix OZ-L-04 warn about nonstandard tokens
  packages/contracts/contracts/L1/L1StandardBridge.sol
  packages/contracts/contracts/L2/L2StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: Fix OZ-L-05 Warn about trapped funds
  packages/contracts/contracts/L1/L1StandardBridge.sol
  packages/contracts/contracts/L2/L2StandardBridge.sol
  packages/contracts/contracts/universal/StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: Fix OZ-N-04 Hardcoded values
  packages/contracts/.gas-snapshot
  packages/contracts/contracts/L1/OptimismPortal.sol
  packages/contracts/contracts/L2/L2ToL1MessagePasser.sol
  packages/contracts/contracts/universal/CrossDomainMessenger.sol
  packages/contracts/contracts/universal/StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: Fix OZ-N-03 Complex ERC165 implementation
  packages/contracts/.gas-snapshot
  packages/contracts/contracts/test/OptimismMintableERC20.t.sol
  packages/contracts/contracts/universal/OptimismMintableERC20.sol
  packages/contracts/contracts/universal/StandardBridge.sol
  packages/contracts/contracts/universal/SupportedInterfaces.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: Fix OZ-N-01 ETH can be stolen
  packages/contracts/contracts/L2/L2StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

op-bindings: rebuild
  op-bindings/deposit/deposit_feed_raw.go
  op-bindings/deposit/optimism_portal_deployed.go
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

contracts: Fix OZ-N-05 Misleading or unclear comments
  packages/contracts/contracts/L1/L1StandardBridge.sol
  packages/contracts/contracts/L1/L2OutputOracle.sol
  packages/contracts/contracts/L1/OptimismPortal.sol
  packages/contracts/contracts/universal/OptimismMintableTokenFactory.sol
  packages/contracts/contracts/universal/StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts
