Repository ethereum-optimism/optimistic-specs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper, @cfromknecht

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                    @protolambda @norswap @trianglesphere @maurelian @mslipper
/specs/              @protolambda @norswap @maurelian 
/l2os/               @protolambda @trianglesphere @cfromknecht @mslipper
/opnode/             @protolambda @trianglesphere @mslipper
/packages/contracts/ @protolambda @norswap @maurelian

refactor: Bridges - fix import paths
  packages/contracts/contracts/L1/messaging/L1StandardBridge.sol
  packages/contracts/contracts/L2/messaging/L2StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian

refactor: Token Bridge - replace messengers with Portal Also remove the CrossDomainEnabled lib.
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
  packages/contracts/contracts/L1/messaging/L1StandardBridge.sol
  packages/contracts/contracts/L2/messaging/L2StandardBridge.sol
  packages/contracts/contracts/test/L1CrossDomainMessenger.t.sol
Owners: @protolambda, @norswap, @maurelian

refactor: extract l2Sender check into a modifier
  packages/contracts/contracts/L1/messaging/L1StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian

style: Address/remove some slither disable comments
  packages/contracts/contracts/L1/messaging/L1StandardBridge.sol
  packages/contracts/contracts/L2/messaging/L2StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian

refactor: Support deposits of ETH in L2 Bridge
  packages/contracts/contracts/L1/messaging/L1StandardBridge.sol
  packages/contracts/contracts/L2/messaging/IL2ERC20Bridge.sol
  packages/contracts/contracts/L2/messaging/L2StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian

Makefile,ops: docker compose up instead of run to make devnet-down work, and fix makefile label
  Makefile
  ops/devnet-up.sh
  ops/docker-compose.yml
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

opnode: Do not drop all deposits on parsing error
  opnode/rollup/derive/payload_attributes.go
  opnode/rollup/derive/payload_attributes_test.go
  opnode/rollup/driver/step.go
  specs/deposits.md
Owners: @protolambda, @trianglesphere, @mslipper, @norswap, @maurelian

opnode/test: Provide flag to access geth logs
  opnode/test/system_test.go
Owners: @protolambda, @trianglesphere, @mslipper

opnode: Fix Incorrect error handling when creating an L2 block
  opnode/rollup/driver/state.go
Owners: @protolambda, @trianglesphere, @mslipper

opnode: Properly wrap errors in l1/source.go
  opnode/l1/source.go
Owners: @protolambda, @trianglesphere, @mslipper

opnode: attach p2p host and discovery to rollup node, update e2e test
  go.mod
  go.sum
  opnode/node/config.go
  opnode/node/node.go
  opnode/p2p/config.go
  opnode/p2p/discovery.go
  opnode/p2p/host.go
  opnode/p2p/prepared.go
  opnode/test/setup.go
  opnode/test/system_test.go
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

chore: Remove unused files
  packages/contracts/contracts/test/TestLib_SecureMerkleTrie.sol
  packages/contracts/test/withdrawer.spec.ts
Owners: @protolambda, @norswap, @maurelian

refactor: Remove Address Manager and Resolver
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
Owners: @protolambda, @norswap, @maurelian

chore: Importe OZ and OP contracts as node_modules
  packages/contracts/contracts/L1/L2OutputOracle.sol
  packages/contracts/contracts/L1/abstracts/DepositFeed.sol
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
  packages/contracts/contracts/L2/Withdrawer.sol
  packages/contracts/contracts/L2/messaging/L2CrossDomainMessenger.sol
  packages/contracts/contracts/libraries/Lib_WithdrawalVerifier.sol
  packages/contracts/contracts/test/DepositFeed.t.sol
  packages/contracts/contracts/test/TestLib_SecureMerkleTrie.sol
  packages/contracts/contracts/test/Withdrawer.t.sol
  packages/contracts/foundry.toml
  packages/contracts/package.json
  packages/contracts/yarn.lock
Owners: @protolambda, @norswap, @maurelian

refactor: Remove SCC
  packages/contracts/contracts/L1/messaging/IL1CrossDomainMessenger.sol
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
Owners: @protolambda, @norswap, @maurelian

forge install: ds-test
  .gitmodules
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

chore: copy L1 and L2 Messengers from Monorepo
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
  packages/contracts/contracts/L2/messaging/L2CrossDomainMessenger.sol
Owners: @protolambda, @norswap, @maurelian

chore: Add OZ upgradable contracts
  .gitmodules
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
  packages/contracts/contracts/L2/messaging/L2CrossDomainMessenger.sol
  packages/contracts/package.json
  packages/contracts/yarn.lock
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

refactor: Replace CTC with OptimismPortal
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
Owners: @protolambda, @norswap, @maurelian

test: Add Messenger test files
  packages/contracts/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts/contracts/test/L2CrossDomainMessenger.t.sol
Owners: @protolambda, @norswap, @maurelian

refactor: Remove replayMessage()
  packages/contracts/contracts/L1/messaging/IL1CrossDomainMessenger.sol
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
Owners: @protolambda, @norswap, @maurelian

refactor: Move boilerplate test code into CommonTest
  packages/contracts/contracts/test/CommonTest.sol
  packages/contracts/contracts/test/DepositFeed.t.sol
  packages/contracts/contracts/test/L2OutputOracle.t.sol
  packages/contracts/contracts/test/OptimismPortal.t.sol
  packages/contracts/contracts/test/WithdrawalsRelay.t.sol
Owners: @protolambda, @norswap, @maurelian

test: L1CrossDomainMessenger
  packages/contracts/contracts/test/L1CrossDomainMessenger.t.sol
Owners: @protolambda, @norswap, @maurelian

contracts: use unchecked
  packages/contracts/contracts/L2/Withdrawer.sol
  packages/contracts/contracts/L2/messaging/L2CrossDomainMessenger.sol
Owners: @protolambda, @norswap, @maurelian

refactor: Bridges - fix import paths
  packages/contracts/contracts/L1/messaging/L1StandardBridge.sol
  packages/contracts/contracts/L2/messaging/L2StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian

interface: add IWithdrawer.sol
  packages/contracts/contracts/L2/IWithdrawer.sol
Owners: @protolambda, @norswap, @maurelian

refactor: Token Bridge - replace messengers with Portal Also remove the CrossDomainEnabled lib.
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
  packages/contracts/contracts/L1/messaging/L1StandardBridge.sol
  packages/contracts/contracts/L2/messaging/L2StandardBridge.sol
  packages/contracts/contracts/test/L1CrossDomainMessenger.t.sol
Owners: @protolambda, @norswap, @maurelian

refactor: Add l2Sender check in L2xDM
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
  packages/contracts/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts/contracts/test/WithdrawalsRelay.t.sol
Owners: @protolambda, @norswap, @maurelian

refactor: Reorganize ts helpers
  packages/contracts/helpers/constants.ts
  packages/contracts/helpers/index.ts
  packages/contracts/helpers/utils.ts
Owners: @protolambda, @norswap, @maurelian

test: Add L1xDM relayMessageSucceeds tests
  packages/contracts/contracts/test/L1CrossDomainMessenger.t.sol
Owners: @protolambda, @norswap, @maurelian

test: L1CrossDomainMessenger sendMessage and pause
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
  packages/contracts/contracts/test/L1CrossDomainMessenger.t.sol
Owners: @protolambda, @norswap, @maurelian

contracts: fix imports in common test
  packages/contracts/contracts/test/CommonTest.sol
Owners: @protolambda, @norswap, @maurelian

tests: bridge tests
  packages/contracts/contracts/test/L1StandardBridge.t.sol
  packages/contracts/contracts/test/L2StandardBridge.t.sol
Owners: @protolambda, @norswap, @maurelian

contracts: remove extra message assignment
  packages/contracts/contracts/L2/messaging/L2StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian

test: Add mock proof generation script and helpers
  packages/contracts/contracts/test/WithdrawalsRelay.t.sol
  packages/contracts/helpers/generateProofs.ts
  packages/contracts/helpers/index.ts
  packages/contracts/helpers/trie-test-generator.ts
  packages/contracts/package.json
  packages/contracts/scripts/makeProof.ts
  packages/contracts/yarn.lock
Owners: @protolambda, @norswap, @maurelian

refactor: replace L2ToL1MessagePasser with Withdrawer contract
  packages/contracts/contracts/L2/messaging/L2CrossDomainMessenger.sol
  packages/contracts/contracts/libraries/Lib_BedrockPredeployAddresses.sol
Owners: @protolambda, @norswap, @maurelian

refactor: Copy in the L1 and L2 standard bridge
  packages/contracts/contracts/L1/messaging/L1StandardBridge.sol
  packages/contracts/contracts/L2/messaging/L2StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian

test: Add sendMessage and pause tests for L1xDM
  packages/contracts/contracts/test/L1CrossDomainMessenger.t.sol
Owners: @protolambda, @norswap, @maurelian

refactor: extract l2Sender check into a modifier
  packages/contracts/contracts/L1/messaging/L1StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian

chore: Make functions external, and reorder for CEI
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
  packages/contracts/contracts/L2/messaging/L2CrossDomainMessenger.sol
Owners: @protolambda, @norswap, @maurelian
