Repository ethereum-optimism/optimistic-specs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper, @cfromknecht

make rpc.withdrawalcontractaddress flag optional
  opnode/flags/flags.go
  opnode/predeploys.go
  opnode/service.go
  ops/docker-compose.yml
Owners: @protolambda, @trianglesphere, @mslipper, @norswap, @maurelian

update l2.eth flag
  opnode/flags/flags.go
  opnode/service.go
  ops/docker-compose.yml
Owners: @protolambda, @trianglesphere, @mslipper, @norswap, @maurelian

opnode: refactor RPC server / config, prototype batch serving
  go.mod
  go.sum
  opnode/flags/flags.go
  opnode/l2/source.go
  opnode/l2/util.go
  opnode/node/api.go
  opnode/node/config.go
  opnode/node/node.go
  opnode/node/server.go
  opnode/node/server_test.go
  opnode/rollup/types.go
  opnode/service.go
  opnode/test/system_test.go
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

opnode: Switch to BlockRefs in state loop
  opnode/l1/source.go
  opnode/l2/api.go
  opnode/rollup/driver/driver.go
  opnode/rollup/driver/state.go
  opnode/rollup/driver/state_test.go
  opnode/rollup/driver/step.go
Owners: @protolambda, @trianglesphere, @mslipper

opnode: Restructure Block References
  opnode/eth/heads.go
  opnode/eth/id.go
  opnode/l1/source.go
  opnode/l2/api.go
  opnode/node/node.go
  opnode/rollup/derive/invert.go
  opnode/rollup/driver/fake_chain.go
  opnode/rollup/driver/state.go
  opnode/rollup/driver/state_test.go
  opnode/rollup/driver/step.go
  opnode/rollup/sync/start.go
  opnode/rollup/sync/start_test.go
Owners: @protolambda, @trianglesphere, @mslipper

opnode: Update sync start algorithm
  opnode/rollup/sync/start.go
  opnode/rollup/sync/start_test.go
Owners: @protolambda, @trianglesphere, @mslipper

opnode: Use new sync algorithm and block timestamps
  opnode/l1/source.go
  opnode/rollup/driver/driver.go
  opnode/rollup/driver/fake_chain.go
  opnode/rollup/driver/state.go
  opnode/rollup/driver/state_test.go
  opnode/test/setup.go
  opnode/test/system_test.go
Owners: @protolambda, @trianglesphere, @mslipper

specs: Describe new sync algorithm
  specs/rollup-node.md
Owners: @protolambda, @norswap, @maurelian

hack: Way faster e2e test
  opnode/test/system_test.go
Owners: @protolambda, @trianglesphere, @mslipper

opnode: Switch to uint64 in FindL2Heads function
  opnode/rollup/driver/state.go
  opnode/rollup/sync/start.go
  opnode/rollup/sync/start_test.go
Owners: @protolambda, @trianglesphere, @mslipper

opnode: Properly initialize state loop
  opnode/rollup/driver/state.go
Owners: @protolambda, @trianglesphere, @mslipper

Add devnet docs + deposit task
  .github/workflows/markdown-ci.yml
  Makefile
  README.md
  ops/docker-compose.yml
  packages/contracts/hardhat.config.ts
  packages/contracts/package.json
  packages/contracts/slither.db.json
  packages/contracts/tasks/deposits.ts
  packages/contracts/tsconfig.json
  packages/contracts/yarn.lock
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

opnode: Rename output functions
  opnode/rollup/driver/driver.go
  opnode/rollup/driver/state.go
  opnode/rollup/driver/state_test.go
  opnode/rollup/driver/step.go
Owners: @protolambda, @trianglesphere, @mslipper

Update Makefile
  Makefile
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

Add bytecode
  Makefile
  ops/Dockerfile.l2
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

opnode: Add sanity check to L1 window in insertEpoch
  opnode/rollup/derive/invert_test.go
  opnode/rollup/derive/payload_attributes.go
  opnode/rollup/driver/step.go
Owners: @protolambda, @trianglesphere, @mslipper

opnode: Pull out steps of the state loop
  opnode/rollup/driver/state.go
Owners: @protolambda, @trianglesphere, @mslipper

opnode: Better name for batch prepare functions
  opnode/rollup/derive/payload_attributes.go
  opnode/rollup/driver/step.go
Owners: @protolambda, @trianglesphere, @mslipper

opnode: Split out loop
  opnode/rollup/driver/state.go
Owners: @protolambda, @trianglesphere, @mslipper

opnode: Verify epochs as sequencer
  opnode/rollup/driver/driver.go
  opnode/rollup/driver/state.go
  opnode/rollup/driver/step.go
Owners: @protolambda, @trianglesphere, @mslipper

opnode: Mute driver test
  opnode/rollup/driver/state_test.go
Owners: @protolambda, @trianglesphere, @mslipper

HACK: Use local fixed op-geth node
  go.mod
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

HACK: Test reorgs
  opnode/bss/submitter.go
  opnode/rollup/driver/state.go
  opnode/rollup/driver/step.go
  opnode/test/system_test.go
Owners: @protolambda, @trianglesphere, @mslipper

specs: Update Sync Specs with PR Comments
  specs/rollup-node.md
Owners: @protolambda, @norswap, @maurelian

opnode: Allow L2 chain to run ahead of L1
  opnode/rollup/sync/start.go
  opnode/rollup/sync/start_test.go
Owners: @protolambda, @trianglesphere, @mslipper

specs: Add Withdrawals specification
  specs/glossary.md
  specs/withdrawals.md
Owners: @protolambda, @norswap, @maurelian

Clean up Forge test of WithdrawalVerifier
  packages/contracts/contracts/test/WithdrawalVerifier.t.sol
Owners: @protolambda, @norswap, @maurelian

Add output root inclusion proof
  ops/rollup.json
  packages/contracts/contracts/L1/WithdrawalVerifier.sol
  packages/contracts/contracts/test/WithdrawalVerifier.t.sol
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

Add gaslimit to withdrawal encoding
  ops/rollup.json
  packages/contracts/contracts/L2/Withdrawor.sol
  packages/contracts/test/withdrawor.spec.ts
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

Add finalizationWindow var to WithdrawalVerifier
  packages/contracts/contracts/L1/WithdrawalVerifier.sol
  packages/contracts/test/withdrawor.spec.ts
Owners: @protolambda, @norswap, @maurelian

contracts: Add withdrawor and start of tests
  ops/rollup.json
  packages/contracts/contracts/L1/WithdrawalVerifier.sol
  packages/contracts/contracts/L2/Withdrawor.sol
  packages/contracts/contracts/test/WithdrawalVerifier.t.sol
  packages/contracts/test/withdrawor.spec.ts
  specs/withdrawals.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

Add storage inclusion proof
  packages/contracts/contracts/L1/WithdrawalVerifier.sol
  packages/contracts/contracts/test/WithdrawalVerifier.t.sol
Owners: @protolambda, @norswap, @maurelian

ops: Add withdrawor predeploy to docker setup
  Makefile
  ops/Dockerfile.l2
  ops/docker-compose.yml
  ops/genesis-l2.json
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

test(contracts): Withdrawal creation and proof gen
  package.json
  packages/contracts/test/withdrawor.spec.ts
  yarn.lock
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

deps: install entire goddamn monorepo using forge.
  .gitmodules
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

Add WithdrawalVerified event
  packages/contracts/contracts/L1/WithdrawalVerifier.sol
  packages/contracts/test/withdrawor.spec.ts
Owners: @protolambda, @norswap, @maurelian

Remove unused constructor argument
  packages/contracts/contracts/L1/WithdrawalVerifier.sol
  packages/contracts/contracts/test/WithdrawalVerifier.t.sol
  packages/contracts/test/withdrawor.spec.ts
Owners: @protolambda, @norswap, @maurelian

Improve testing against L2 node
  packages/contracts/contracts/L1/WithdrawalVerifier.sol
  packages/contracts/contracts/test/TestLib_SecureMerkleTrie.sol
  packages/contracts/package.json
  packages/contracts/test/withdrawor.spec.ts
  packages/contracts/yarn.lock
Owners: @protolambda, @norswap, @maurelian

opnode: Sync algorithm renames
  opnode/rollup/sync/start.go
Owners: @protolambda, @trianglesphere, @mslipper

opnode: Update specs
  specs/rollup-node.md
Owners: @protolambda, @norswap, @maurelian

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                    @protolambda @norswap @trianglesphere @maurelian @mslipper
/specs/              @protolambda @norswap @maurelian 
/l2os/               @protolambda @trianglesphere @cfromknecht @mslipper
/opnode/             @protolambda @trianglesphere @mslipper
/packages/contracts/ @protolambda @norswap @maurelian
