Repository ethereum-optimism/optimistic-specs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper, @cfromknecht

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                    @protolambda @norswap @trianglesphere @maurelian @mslipper
/specs/              @protolambda @norswap @maurelian 
/l2os/               @protolambda @trianglesphere @cfromknecht @mslipper
/opnode/             @protolambda @trianglesphere @mslipper
/packages/contracts/ @protolambda @norswap @maurelian

Unify add block - works by returning payload, not ID
  opnode/rollup/driver/step.go
Owners: @protolambda, @trianglesphere, @mslipper

PR cleanup comments
  opnode/rollup/driver/state.go
  opnode/test/geth.go
Owners: @protolambda, @trianglesphere, @mslipper

PR comment
  opnode/rollup/derive/payload_attributes.go
Owners: @protolambda, @trianglesphere, @mslipper

fix nil pointer w/ ticker channel
  opnode/rollup/driver/state.go
Owners: @protolambda, @trianglesphere, @mslipper

Small change
  opnode/rollup/driver/step.go
Owners: @protolambda, @trianglesphere, @mslipper

Add forge
  .gitignore
  .gitmodules
  packages/contracts/.gitignore
  packages/contracts/README.md
  packages/contracts/hardhat.config.ts
  packages/contracts/package.json
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

--wip--
  .github/workflows/static-analysis.yml
  specs/proposals.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

Convert L1Block test from ts to sol
  packages/contracts/contracts/test/L1Block.t.sol
  packages/contracts/test/L2/L1Block.spec.ts
Owners: @protolambda, @norswap, @maurelian

--wip--
  .editorconfig
  .github/workflows/md-ci.yml
  .github/workflows/solidity-ci.yml
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

--wip--
  .github/workflows/solidity-ci.yml
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

--wip--
  .github/workflows/solidity-ci.yml
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

--wip--
  packages/contracts/package.json
Owners: @protolambda, @norswap, @maurelian

--wip--
  .github/workflows/solidity-ci.yml
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

--wip--
  .github/workflows/solidity-ci.yml
  packages/contracts/package.json
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

Squashed cleanup
  opnode/l2/api.go
  opnode/l2/source.go
  opnode/node/node.go
  opnode/rollup/derive/execution_payload.go
  opnode/rollup/derive/payload_attributes.go
  opnode/rollup/driver/driver.go
  opnode/rollup/driver/state.go
  opnode/rollup/driver/state_test.go
  opnode/rollup/driver/step.go
Owners: @protolambda, @trianglesphere, @mslipper

opnode,specs: define max_l2_seq_time_diff, default to l2 block time
  opnode/rollup/driver/state.go
  opnode/rollup/driver/step.go
  opnode/test/system_test.go
  specs/rollup-node.md
Owners: @protolambda, @trianglesphere, @mslipper, @norswap, @maurelian

specs: Add L2 output submitter service
  packages/contracts/contracts/L1/MockL2OutputOracle.sol
  specs/README.md
  specs/glossary.md
  specs/proposals.md
  specs/rollup-node.md
Owners: @protolambda, @norswap, @maurelian

Change optimism_outputAtBlock param to L2 blocknum
  specs/rollup-node.md
Owners: @protolambda, @norswap, @maurelian

Run CI on feat/* branches
  .github/workflows/go-ci.yml
  .github/workflows/markdown-ci.yml
  .github/workflows/solidity-ci.yml
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

Replace submissionFrequency with submissionInterval
  packages/contracts/contracts/L1/MockL2OutputOracle.sol
  specs/proposals.md
Owners: @protolambda, @norswap, @maurelian

Address PR comments on output submission spec
  specs/glossary.md
  specs/proposals.md
  specs/rollup-node.md
Owners: @protolambda, @norswap, @maurelian

Fix linting
  specs/proposals.md
  specs/rollup-node.md
Owners: @protolambda, @norswap, @maurelian

feat: DepositFeed receive function
  packages/contracts/contracts/L1/DepositFeed.sol
  packages/contracts/test/L1/DepositFeed.spec.ts
Owners: @protolambda, @norswap, @maurelian

Rename MockL2OutputOracle to L2OutputOracle
  packages/contracts/contracts/L1/L2OutputOracle.sol
Owners: @protolambda, @norswap, @maurelian

Address review comments
  specs/README.md
  specs/glossary.md
  specs/proposals.md
Owners: @protolambda, @norswap, @maurelian

Update optimism_outputAtBlock method spec
  specs/rollup-node.md
Owners: @protolambda, @norswap, @maurelian

forge install: openzeppelin-contracts
  .gitmodules
  packages/contracts/.eslintignore
  packages/contracts/contracts/L1/L2OutputOracle.sol
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

Improve ordering of tests
  packages/contracts/contracts/test/L2OutputOracle.t.sol
Owners: @protolambda, @norswap, @maurelian

Add l2OutputOracle tests
  packages/contracts/contracts/test/L2OutputOracle.t.sol
Owners: @protolambda, @norswap, @maurelian

Import forge-std for HEVM interface
  .gitmodules
  packages/contracts/contracts/test/L2OutputOracle.t.sol
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @mslipper

Add sad path tests for appendL2Output
  packages/contracts/contracts/test/L2OutputOracle.t.sol
Owners: @protolambda, @norswap, @maurelian

Add comments and improve variables names
  packages/contracts/contracts/L1/L2OutputOracle.sol
  packages/contracts/contracts/test/L2OutputOracle.t.sol
Owners: @protolambda, @norswap, @maurelian

Fix off-by one error in computeL2BlockNumber
  packages/contracts/contracts/L1/L2OutputOracle.sol
  packages/contracts/contracts/test/L2OutputOracle.t.sol
Owners: @protolambda, @norswap, @maurelian

Add l2OutputAppended event
  packages/contracts/contracts/L1/L2OutputOracle.sol
Owners: @protolambda, @norswap, @maurelian

Add blockhash check
  packages/contracts/.prettierignore
  packages/contracts/.solhintignore
  packages/contracts/README.md
  packages/contracts/contracts/L1/L2OutputOracle.sol
  packages/contracts/contracts/test/L2OutputOracle.t.sol
Owners: @protolambda, @norswap, @maurelian

Fix slither warnings
  packages/contracts/contracts/L1/L2OutputOracle.sol
  packages/contracts/slither.config.json
  packages/contracts/slither.db.json
Owners: @protolambda, @norswap, @maurelian

Add foundry.toml
  packages/contracts/README.md
  packages/contracts/foundry.toml
Owners: @protolambda, @norswap, @maurelian

Update specs to match implementation
  packages/contracts/contracts/L1/L2OutputOracle.sol
  specs/proposals.md
Owners: @protolambda, @norswap, @maurelian

Fix typo and event declaration ordering
  packages/contracts/.solhint.json
  packages/contracts/contracts/L1/L2OutputOracle.sol
Owners: @protolambda, @norswap, @maurelian

Add getL2Output function and make mapping internal
  packages/contracts/contracts/L1/L2OutputOracle.sol
  packages/contracts/contracts/test/L2OutputOracle.t.sol
Owners: @protolambda, @norswap, @maurelian
