Repository ethereum-optimism/optimistic-specs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes, @smartcontracts

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                    @protolambda @norswap @trianglesphere @maurelian @karlfloersch @ben-chain @cfromknecht @mslipper @tynes
/l2os/               @protolambda @norswap @trianglesphere @cfromknecht @mslipper @tynes
/opnode/             @protolambda @norswap @trianglesphere @cfromknecht @mslipper @tynes
/packages/contracts/ @protolambda @norswap @maurelian @karlfloersch @smartcontracts

refactor: Bridges - fix import paths
  packages/contracts/contracts/L1/messaging/L1StandardBridge.sol
  packages/contracts/contracts/L2/messaging/L2StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

refactor: Token Bridge - replace messengers with Portal Also remove the CrossDomainEnabled lib.
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
  packages/contracts/contracts/L1/messaging/L1StandardBridge.sol
  packages/contracts/contracts/L2/messaging/L2StandardBridge.sol
  packages/contracts/contracts/test/L1CrossDomainMessenger.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

refactor: extract l2Sender check into a modifier
  packages/contracts/contracts/L1/messaging/L1StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

style: Address/remove some slither disable comments
  packages/contracts/contracts/L1/messaging/L1StandardBridge.sol
  packages/contracts/contracts/L2/messaging/L2StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

refactor: Support deposits of ETH in L2 Bridge
  packages/contracts/contracts/L1/messaging/L1StandardBridge.sol
  packages/contracts/contracts/L2/messaging/IL2ERC20Bridge.sol
  packages/contracts/contracts/L2/messaging/L2StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

Makefile,ops: docker compose up instead of run to make devnet-down work, and fix makefile label
  Makefile
  ops/devnet-up.sh
  ops/docker-compose.yml
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

opnode: Do not drop all deposits on parsing error
  opnode/rollup/derive/payload_attributes.go
  opnode/rollup/derive/payload_attributes_test.go
  opnode/rollup/driver/step.go
  specs/deposits.md
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes, @maurelian, @karlfloersch, @ben-chain

opnode/test: Provide flag to access geth logs
  opnode/test/system_test.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

opnode: Fix Incorrect error handling when creating an L2 block
  opnode/rollup/driver/state.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

opnode: Properly wrap errors in l1/source.go
  opnode/l1/source.go
Owners: @protolambda, @norswap, @trianglesphere, @cfromknecht, @mslipper, @tynes

opnode: attach p2p host and discovery to rollup node, update e2e test
  go.mod
  go.sum
  opnode/node/config.go
  opnode/node/node.go
  opnode/p2p/config.go
  opnode/p2p/discovery.go
  opnode/p2p/host.go
  opnode/p2p/prepared.go
  opnode/test/setup.go
  opnode/test/system_test.go
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

chore: Remove unused files
  packages/contracts/contracts/test/TestLib_SecureMerkleTrie.sol
  packages/contracts/test/withdrawer.spec.ts
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

refactor: Remove Address Manager and Resolver
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

chore: Importe OZ and OP contracts as node_modules
  packages/contracts/contracts/L1/L2OutputOracle.sol
  packages/contracts/contracts/L1/abstracts/DepositFeed.sol
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
  packages/contracts/contracts/L2/Withdrawer.sol
  packages/contracts/contracts/L2/messaging/L2CrossDomainMessenger.sol
  packages/contracts/contracts/libraries/Lib_WithdrawalVerifier.sol
  packages/contracts/contracts/test/DepositFeed.t.sol
  packages/contracts/contracts/test/TestLib_SecureMerkleTrie.sol
  packages/contracts/contracts/test/Withdrawer.t.sol
  packages/contracts/foundry.toml
  packages/contracts/package.json
  packages/contracts/yarn.lock
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

refactor: Remove SCC
  packages/contracts/contracts/L1/messaging/IL1CrossDomainMessenger.sol
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

forge install: ds-test
  .gitmodules
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

chore: copy L1 and L2 Messengers from Monorepo
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
  packages/contracts/contracts/L2/messaging/L2CrossDomainMessenger.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

chore: Add OZ upgradable contracts
  .gitmodules
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
  packages/contracts/contracts/L2/messaging/L2CrossDomainMessenger.sol
  packages/contracts/package.json
  packages/contracts/yarn.lock
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes, @smartcontracts

refactor: Replace CTC with OptimismPortal
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

test: Add Messenger test files
  packages/contracts/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts/contracts/test/L2CrossDomainMessenger.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

refactor: Remove replayMessage()
  packages/contracts/contracts/L1/messaging/IL1CrossDomainMessenger.sol
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

refactor: Move boilerplate test code into CommonTest
  packages/contracts/contracts/test/CommonTest.sol
  packages/contracts/contracts/test/DepositFeed.t.sol
  packages/contracts/contracts/test/L2OutputOracle.t.sol
  packages/contracts/contracts/test/OptimismPortal.t.sol
  packages/contracts/contracts/test/WithdrawalsRelay.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

test: L1CrossDomainMessenger
  packages/contracts/contracts/test/L1CrossDomainMessenger.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: use unchecked
  packages/contracts/contracts/L2/Withdrawer.sol
  packages/contracts/contracts/L2/messaging/L2CrossDomainMessenger.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

refactor: Bridges - fix import paths
  packages/contracts/contracts/L1/messaging/L1StandardBridge.sol
  packages/contracts/contracts/L2/messaging/L2StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

interface: add IWithdrawer.sol
  packages/contracts/contracts/L2/IWithdrawer.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

refactor: Token Bridge - replace messengers with Portal Also remove the CrossDomainEnabled lib.
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
  packages/contracts/contracts/L1/messaging/L1StandardBridge.sol
  packages/contracts/contracts/L2/messaging/L2StandardBridge.sol
  packages/contracts/contracts/test/L1CrossDomainMessenger.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

refactor: Add l2Sender check in L2xDM
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
  packages/contracts/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts/contracts/test/WithdrawalsRelay.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

refactor: Reorganize ts helpers
  packages/contracts/helpers/constants.ts
  packages/contracts/helpers/index.ts
  packages/contracts/helpers/utils.ts
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

test: Add L1xDM relayMessageSucceeds tests
  packages/contracts/contracts/test/L1CrossDomainMessenger.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

test: L1CrossDomainMessenger sendMessage and pause
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
  packages/contracts/contracts/test/L1CrossDomainMessenger.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: fix imports in common test
  packages/contracts/contracts/test/CommonTest.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

tests: bridge tests
  packages/contracts/contracts/test/L1StandardBridge.t.sol
  packages/contracts/contracts/test/L2StandardBridge.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: remove extra message assignment
  packages/contracts/contracts/L2/messaging/L2StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

test: Add mock proof generation script and helpers
  packages/contracts/contracts/test/WithdrawalsRelay.t.sol
  packages/contracts/helpers/generateProofs.ts
  packages/contracts/helpers/index.ts
  packages/contracts/helpers/trie-test-generator.ts
  packages/contracts/package.json
  packages/contracts/scripts/makeProof.ts
  packages/contracts/yarn.lock
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

refactor: replace L2ToL1MessagePasser with Withdrawer contract
  packages/contracts/contracts/L2/messaging/L2CrossDomainMessenger.sol
  packages/contracts/contracts/libraries/Lib_BedrockPredeployAddresses.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

refactor: Copy in the L1 and L2 standard bridge
  packages/contracts/contracts/L1/messaging/L1StandardBridge.sol
  packages/contracts/contracts/L2/messaging/L2StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

test: Add sendMessage and pause tests for L1xDM
  packages/contracts/contracts/test/L1CrossDomainMessenger.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

refactor: extract l2Sender check into a modifier
  packages/contracts/contracts/L1/messaging/L1StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

chore: Make functions external, and reorder for CEI
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
  packages/contracts/contracts/L2/messaging/L2CrossDomainMessenger.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts
