Repository ethereum-optimism/optimistic-specs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes, @smartcontracts

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                    @protolambda @norswap @trianglesphere @maurelian @karlfloersch @ben-chain @cfromknecht @mslipper @tynes
/l2os/               @protolambda @norswap @trianglesphere @cfromknecht @mslipper @tynes
/opnode/             @protolambda @norswap @trianglesphere @cfromknecht @mslipper @tynes
/packages/contracts/ @protolambda @norswap @maurelian @karlfloersch @smartcontracts

test: L2CrossDomainMessenger
  packages/contracts/contracts/test/L2CrossDomainMessenger.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

test: Add proof generation scripts and helpers
  packages/contracts/helpers/generateProofs.ts
  packages/contracts/scripts/ffiMakeProof.ts
  packages/contracts/scripts/makeProof.ts
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: add comments to L1 contracts
  packages/contracts/contracts/L1/abstracts/WithdrawalsRelay.sol
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

style: Address/remove some slither disable comments
  packages/contracts/contracts/L1/messaging/L1StandardBridge.sol
  packages/contracts/contracts/L2/messaging/L2StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: fix typo
  packages/contracts/contracts/L1/messaging/L1StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

refactor: Support deposits of ETH in L2 Bridge
  packages/contracts/contracts/L1/messaging/L1StandardBridge.sol
  packages/contracts/contracts/L2/messaging/IL2ERC20Bridge.sol
  packages/contracts/contracts/L2/messaging/L2StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: update gas snapshot
  packages/contracts/.gas-snapshot
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: add note to self
  packages/contracts/contracts/L2/messaging/L2CrossDomainMessenger.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: remove usage of OVM_ETH
  packages/contracts/contracts/L1/messaging/L1StandardBridge.sol
  packages/contracts/contracts/L2/messaging/IL2ERC20Bridge.sol
  packages/contracts/contracts/L2/messaging/L2StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: fix compiler warnings
  packages/contracts/contracts/test/L2CrossDomainMessenger.t.sol
  packages/contracts/contracts/test/Lib_RLP.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: add in token factory
  packages/contracts/contracts/L2/messaging/IL2StandardTokenFactory.sol
  packages/contracts/contracts/L2/messaging/L2StandardTokenFactory.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: test rlp lib for computing contract addrs
  packages/contracts/contracts/test/Lib_RLP.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: test infra for bridge
  packages/contracts/contracts/test/L1StandardBridge.t.sol
  packages/contracts/contracts/test/L2StandardBridge.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

forge install: solmate
  .gitmodules
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

contracts: add in L2StandardERC20
  packages/contracts/contracts/L2/tokens/IL2StandardERC20.sol
  packages/contracts/contracts/L2/tokens/L2StandardERC20.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: update snapshot
  packages/contracts/.gas-snapshot
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: add IDepositFeed
  packages/contracts/contracts/L1/abstracts/DepositFeed.sol
  packages/contracts/contracts/L1/abstracts/IDepositFeed.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: type cast uint256 to uint64 in messenger
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

test: fix merge
  packages/contracts/contracts/test/CommonTest.sol
  packages/contracts/contracts/test/L1CrossDomainMessenger.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: modify paths to compile with hardhat
  packages/contracts/contracts/test/CommonTest.t.sol
  packages/contracts/contracts/test/DepositFeed.t.sol
  packages/contracts/contracts/test/L1Block.t.sol
  packages/contracts/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts/contracts/test/L1StandardBridge.t.sol
  packages/contracts/contracts/test/L2CrossDomainMessenger.t.sol
  packages/contracts/contracts/test/L2OutputOracle.t.sol
  packages/contracts/contracts/test/L2StandardBridge.t.sol
  packages/contracts/contracts/test/Lib_RLP.t.sol
  packages/contracts/contracts/test/OptimismPortal.t.sol
  packages/contracts/contracts/test/WithdrawalsRelay.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

hardhat: update config
  packages/contracts/hardhat.config.ts
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: fix build
  .gitmodules
  packages/contracts/contracts/test/Withdrawer.t.sol
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes, @smartcontracts

forge tests: first yarn install
  .github/workflows/solidity-ci.yml
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

contracts: lint
  packages/contracts/contracts/L1/abstracts/IDepositFeed.sol
  packages/contracts/contracts/L1/messaging/L1StandardBridge.sol
  packages/contracts/contracts/L2/IWithdrawer.sol
  packages/contracts/contracts/L2/Withdrawer.sol
  packages/contracts/contracts/L2/messaging/IL2StandardTokenFactory.sol
  packages/contracts/contracts/L2/messaging/L2CrossDomainMessenger.sol
  packages/contracts/contracts/L2/messaging/L2StandardBridge.sol
  packages/contracts/contracts/L2/tokens/IL2StandardERC20.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: update snapshot
  packages/contracts/.gas-snapshot
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: fix abi encoding in proof verification
  packages/contracts/contracts/libraries/Lib_WithdrawalVerifier.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

bugfix: L1StandardBridge finalizeETHWithdrawal payable
  packages/contracts/contracts/L1/messaging/IL1ERC20Bridge.sol
  packages/contracts/contracts/L1/messaging/IL1StandardBridge.sol
  packages/contracts/contracts/L1/messaging/L1StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: clean up common test
  packages/contracts/contracts/test/CommonTest.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: test L1StandardBridge
  packages/contracts/contracts/test/L1StandardBridge.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

lint: fix
  packages/contracts/contracts/L1/messaging/L1StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: update snapshot
  packages/contracts/.gas-snapshot
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

specs: define max L2 tx size policy
  specs/rollup-node.md
Owners: @protolambda, @norswap, @trianglesphere, @maurelian, @karlfloersch, @ben-chain, @cfromknecht, @mslipper, @tynes

temp: l2standardbridge
  packages/contracts/contracts/L2/messaging/IL2StandardBridge.sol
  packages/contracts/contracts/L2/messaging/L2StandardBridge.sol
  packages/contracts/contracts/test/CommonTest.t.sol
  packages/contracts/contracts/test/L1StandardBridge.t.sol
  packages/contracts/contracts/test/L2OutputOracle.t.sol
  packages/contracts/contracts/test/L2StandardBridge.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

lint
  packages/contracts/contracts/L2/messaging/L2StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: deposit ETH through the bridge
  packages/contracts/contracts/L1/messaging/L1StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: L2 standard bridge works with ETH
  packages/contracts/contracts/L2/messaging/IL2ERC20Bridge.sol
  packages/contracts/contracts/L2/messaging/L2StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: clean up comment
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

lint
  packages/contracts/contracts/L2/messaging/IL2StandardBridge.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

tests: L1 and L2 bridges
  packages/contracts/contracts/test/L1StandardBridge.t.sol
  packages/contracts/contracts/test/L2StandardBridge.t.sol
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts

contracts: gas snapshot
  packages/contracts/.gas-snapshot
Owners: @protolambda, @norswap, @maurelian, @karlfloersch, @smartcontracts
