Repository ethereum-optimism/optimistic-specs, pull requests merged in 2022-03, with the labels that each got.

#220 Fix deposit specs to account for contract creation
  specs/deposits.md
Labels: C-bug, C-specs-n-docs

#223 Initial sequencing spec
  specs/deposits.md
  specs/glossary.md
  specs/rollup-node.md
Labels: specs

#263 rollup node config
  opnode/cmd/main.go
  opnode/eth/id.go
  opnode/flags/flags.go
  opnode/flags/flags_test.go
  opnode/node/config.go
  opnode/node/log.go
  opnode/node/node.go
  opnode/rollup/types.go
  opnode/rollup/types_test.go
  opnode/service.go
  opnode/test/system_test.go
Labels: enhancement

#271 opnode/rollup/derive,specs: fix / harden deposit processing
  opnode/l1/source.go
  opnode/rollup/derive/invert_test.go
  opnode/rollup/derive/payload_attributes.go
  opnode/rollup/derive/payload_attributes_test.go
  opnode/rollup/driver/driver.go
  opnode/rollup/driver/step.go
  specs/deposits.md
  specs/rollup-node.md
Labels: bug
